---
title: teach
slug: teach/
---

<div id="teach-page">

  {{> sidebar}}

 <main id="content" class="column-span">
  	<section class= "teach-intro">
      <h1><a href="{{root}}/learn/">Learn</a> & {{#i18n "teach-title2"}}{{/i18n}}</h1>

	      <p>{{#i18n "teach-intro1"}}{{/i18n}}{{#i18n "teach-intro2"}}{{/i18n}}{{#i18n "teach-intro3"}}{{/i18n}}{{#i18n "teach-intro4"}}{{/i18n}} Every teaching has its own unique goals, messages, conditions,  and environments. By documenting and sharing your teaching experiences on the p5.js website, we hope to better connect the p5.js learner and educator communities around the world.</p>

<!--
 <div class="perspective-text">
      <div class="perspective-line">
        <p></p>
        <p> Explore more</p>
      </div>
      <div class="perspective-line">
        <p> Explore more</p>
        <p> in diversity</p>
      </div>
</div>
 -->
   					<h2>Inclusion</h2>
					<div class="teach-search-subgroup1">
						<label><input type="checkbox" name="fl-1" value="gender" id="gender" /> gender</label>
						  <label><input type="checkbox" name="fl-2" value="race" id="race" /> race</label>
						  <label><input type="checkbox" name="fl-3" value="ethnicity" id="ethnicity" /> ethnicity</label>
						  <label><input type="checkbox" name="fl-4" value="language" id="language" /> language</label>
						  <label><input type="checkbox" name="fl-4" value="neuro-type" id="neuro-type" /> neuro-type</label>
						  <label><input type="checkbox" name="fl-5" value="ability" id="ability" /> ability</label>
						  <label><input type="checkbox" name="fl-5" value="class" id="class" /> class</label>
						  <label><input type="checkbox" name="fl-6" value="religion" id="religion" /> religion</label>
						  <label><input type="checkbox" name="fl-7" value="subculture" id="subculture" /> subculture</label>
						  <label><input type="checkbox" name="fl-5" value="political-opinion" id="political-opinion" /> political opinion</label>
						  <label><input type="checkbox" name="fl-8" value="age" id="age" /> age</label>
						  <label><input type="checkbox" name="fl-5" value="skill-level" id="skill-level" /> skill level</label>
						  <label><input type="checkbox" name="fl-5" value="occupation" id="occupation" /> occupation</label>
						  <label><input type="checkbox" name="fl-5" value="noCodeSnobs" id="noCodeSnobs" /> #noCodeSnobs</label>
						  <label><input type="checkbox" name="fl-5" value="newKidLove" id="newKidLove" /> #newKidLove</label>
						  <label><input type="checkbox" name="fl-5" value="unassumeCore" id="unassumeCore" /> #unassumeCore</label>
						  <label><input type="checkbox" name="fl-5" value="BlackLivesMatter" id="BlackLivesMatter" /> #BlackLivesMatter</label>
								
					</div>
    
    </section>


{{!-- diversity checkboxes --}}
	<!--<section class = "teach-search-subgroups">-->
		<!--<h3 class="diversity">Explore in Diversity >> </h3> -->
			<p></p>
<!--			<ul>
			  <li>
			  	<input type="checkbox" value="filter_gender" data-filter_id="gender"> gender</li>
			  <li><input type="checkbox" value="filter_race" data-filter_id="race"> race</li>
			  <li><input type="checkbox" value="filter_ethnicity" data-filter_id="ethnicity"> ethnicity</li>
			  <li><input type="checkbox" value="filter_language" data-filter_id="language"> language</li>
			  <li><input type="checkbox" value="filter_yellow" data-filter_id="yellow">BIPOC</li>
			</ul>-->


			<p></p>

	 	
			


<!--<input type="text" id="amount" readonly>-->

<section>

	<div id="results"></div>
		<h2 class = "teach-results">p5 workshop and class</h2> <!--{{#i18n "teach-results"}}{{/i18n}}-->
	

			<div class = "teach-search-subgroups">
				<button class="search">Explore in Diversity >></button>

						<div class="panel">
						
							<p></p>
							<!--<h3>Inclusion</<h3>
							<div class="teach-search-subgroup1">
								<label><input type="checkbox" name="fl-1" value="gender" id="gender" /> gender</label>
								  <label><input type="checkbox" name="fl-2" value="race" id="race" /> race</label>
								  <label><input type="checkbox" name="fl-3" value="ethnicity" id="ethnicity" /> ethnicity</label>
								  <label><input type="checkbox" name="fl-4" value="language" id="language" /> language</label>
								  <label><input type="checkbox" name="fl-4" value="neuro-type" id="neuro-type" /> neuro-type</label>
								  <label><input type="checkbox" name="fl-5" value="ability" id="ability" /> ability</label>
								  <label><input type="checkbox" name="fl-5" value="class" id="class" /> class</label>
								  <label><input type="checkbox" name="fl-6" value="religion" id="religion" /> religion</label>
								  <label><input type="checkbox" name="fl-7" value="subculture" id="subculture" /> subculture</label>
								  <label><input type="checkbox" name="fl-5" value="political-opinion" id="political-opinion" /> political opinion</label>
								  <label><input type="checkbox" name="fl-8" value="age" id="age" /> age</label>
								  <label><input type="checkbox" name="fl-5" value="skill-level" id="skill-level" /> skill level</label>
								  <label><input type="checkbox" name="fl-5" value="occupation" id="occupation" /> occupation</label>
								  <label><input type="checkbox" name="fl-5" value="noCodeSnobs" id="noCodeSnobs" /> #noCodeSnobs</label>
								  <label><input type="checkbox" name="fl-5" value="newKidLove" id="newKidLove" /> #newKidLove</label>
								  <label><input type="checkbox" name="fl-5" value="unassumeCore" id="unassumeCore" /> #unassumeCore</label>
								  <label><input type="checkbox" name="fl-5" value="BlackLivesMatter" id="BlackLivesMatter" /> #BlackLivesMatter</label>
								
							</div>-->
							<h2>Region</h2>
							<div class="teach-search-subgroup">
								
								  <label><input type="checkbox" name="fl-1" value="gender" id="all-region" /> All</label>
								  <label><input type="checkbox" name="fl-2" value="africa" id="africa" /> Africa</label>
								  <label><input type="checkbox" name="fl-3" value="asia" id="asia" /> Asia</label>
								  <label><input type="checkbox" name="fl-4" value="europe" id="europe" /> Europe</label>
								  <label><input type="checkbox" name="fl-5" value="north-america" id="north-america" /> North America</label>
								  <label><input type="checkbox" name="fl-6" value="oceania" id="oceania" /> Oceania</label>
								  <label><input type="checkbox" name="fl-7" value="south-america" id="south-america" /> South America</label>
								  <label><input type="checkbox" name="fl-8" value="antartica" id="antartica" /> Antartica</label>
								
							</div>
							<h2>Year</h2>
							<div class="teach-search-subgroup">
								
								  <label><input type="checkbox" name="fl-1" value="all-year" id="all-year" /> All</label>
								  <label><input type="checkbox" name="fl-2" value="2014" id="2014" /> 2014</label>
								  <label><input type="checkbox" name="fl-3" value="2015" id="2015" /> 2015</label>
								  <label><input type="checkbox" name="fl-4" value="2016" id="2016" /> 2016</label>
								  <label><input type="checkbox" name="fl-5" value="2017" id="2017" /> 2017</label>
								  <label><input type="checkbox" name="fl-6" value="2018" id="2018" /> 2018</label>
								  <label><input type="checkbox" name="fl-7" value="2019" id="2019" /> 2019</label>
								  <label><input type="checkbox" name="fl-8" value="2020" id="2020" /> 2020</label>
								
							</div>
							<h2>Level of Difficulty</h2>
							<div class="teach-search-subgroup">
							
								  <label><input type="checkbox" name="fl-1" value="all-level" id="all-level" /> All</label>
								  <label><input type="checkbox" name="fl-2" value="elementary" id="elementary" /> elementary</label>
								  <label><input type="checkbox" name="fl-3" value="intermediate" id="intermediate" /> intermediate</label>
								  <label><input type="checkbox" name="fl-4" value="advanced" id="advanced" /> advanced</label>
							
							</div>


						</div>
				</div>

				<!--<div>
					<ul id="filter-list">
					  <li class="filter_gender">
					    <button id ="qtvresult">QTV</button>
					  </li>
					  <li class="filter_race">
					    <button id = "raceresult">race</button>
					  </li>
					  <li class="filter_ethnicity filter_gender">
					    <p>workshop blah</p>
					  </li>
					  <li class="filter_yellow">
					    <p>workshop2</p>
					  </li>
					  <li class="filter_2014">
					  	<p>1st workshop</p>
					  </li>

					</ul>
 
				</div>-->
<!-- search-results -->
<br>
		<ul class="search-results" id="products">
  		  <li class="items" data-category="gender"><a href="#a1" class="myBtn" >2020, Workshop Title, Venue, Lead name</a></li>
		  <li class="items" data-category="gender"><a href="#a2" class="myBtn">2020, Workshop Title, Venue, Lead name</a></li>
		  <li class="items" data-category="gender"><a href="#a3" class="myBtn">2020, Workshop Title, Venue, Lead name</a></li>
		  <li class="items" data-price="10000" data-category="gender africa">2020, Workshop Title, Venue, Lead name</li>
		  <li class="items" data-price="12000" data-category="race">2020, Workshop Title, Venue, Lead name</li>
		  <li class="items" data-price="13000" data-category="ethnicity">2020, Workshop Title, Venue, Lead name</li>
		  <li class="items" data-price="14000" data-category="language ability">2020, Workshop Title, Venue, Lead name</li>
		  <li class="items" data-price="12000" data-category="ability religion">2020, Workshop Title, Venue, Lead name</li>
		  <li class="items" data-price="14000" data-category="religion">2020, Workshop Title, Venue, Lead name</li>
		  <li class="items" data-price="16000" data-category="subculture">2020, Workshop Title, Venue, Lead name</li>
		  <li class="items" data-price="20000" data-category="age"><a href="#a4" class="myBtn">2020, Workshop Title, Venue, Lead name</a></li>
		</ul> 

  <p>Share your experiences too!</p>"<span class="submit-btn submit-btn-css">submit
  </span>

<!--     <p>Add your own experiences! <span id="nominate" class="nominate"><a href="https://docs.google.com/forms/d/e/1FAIpQLSei8yHX2BROMnMQeZT_tsSXJOH13TPRG6CB4GVHH1oL1hzkZg/viewform?usp=sf_link" target="_blank">submit</a></span>
      <br><br></p>-->


<br>

   
		


	</section>


	


	<!--modal-->

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">slick slider inside modal bootstrap</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="wrap-modal-slider">
          <div class="your-class">
            <div><img src="http://via.placeholder.com/636x300" alt=""></div>
            <div><img src="http://via.placeholder.com/636x300" alt=""></div>
            <div><img src="http://via.placeholder.com/636x300" alt=""></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    {{> footer}}

  </main>

  {{> asterisk}}

</div>

<!--js script-->
<!--modal script-->


<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

$(document).on('click','.myBtn',function(){
	var myTargetModal =  $(this).attr('href');
	$('#myModal').hide();
	$('.modal-content').hide();
	
	$('#myModal').fadeIn();
	$(myTargetModal).fadeIn();
  return false;
});

$("body" ).on( "click",".close", function() {
  	$('#myModal').hide();
	$('.modal-content').hide();
});

</script>
<script>
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks the button, open the modal 
	btn.onclick = function() {
	  modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
	    modal.style.display = "none";
	  }
	};
</script>


<script>
	$("#filter-options :checkbox").click(function() 
		{
	       	$("#filter-list li").hide();
	       	$("#filter-options :checkbox:checked").each(function() 
	       	{
	           $("." + $(this).val()).fadeIn();
			});
	       
	        if($('#filter-options :checkbox').filter(':checked').length < 1) 
	        {
	        	$("#filter-list li").fadeIn();
	        	
	        }
	        
	    });
</script>

<script>

	$(function() {
    $("#slidecontainer").slider({
      step: 7,
      animate: 'slow',
      stop: function(e, ui) {
        if (ui.value > 0) {
          $("#slider input[type='checkbox']").prop("checked", true);
        }
      }
    });
  });
	</script>
<!--	<script>
	$(function() {
    $(".slidecontainer").slider({
      step: 3,
      animate: 'slow',
      stop: function(e, ui) {
        if (ui.value > 0) {
          $("#slider input[type='checkbox']").prop("checked", true);
        }
      }
    });
  });
	</script>
-->

<!--multi test slider-->

<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>

<script>

//search accordion menu

var acc = document.getElementsByClassName("search");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}

// checkbox

$(document).ready(function(){
  // cache ref to all checkbox elements
  var checkboxes = $('input:checkbox'),
      // cache ref to results
      results = $('#results'),
      // cache ref to our list
      listItems = $('.items > li'),
      // cache amount ref
      amount = $('#amount'),
      // collection of selected checkbox elements
      selectedItems = [],
      // slider config
      slideOptions = {
        min: 0,
        max: 10,
        step: 5,
        values: [0],
        slide: function(event, ui) {
          amount.val(ui.values[0] + " USD");
        },
        change: function(event, ui){
          updateList();
        }
      };
      
  // render slider      
  var slider = $("#price").slider(slideOptions);
  
  amount.val($("#price").slider("values", 0) + " USD");
  
  checkboxes.on('change', function(){
    var id = this.id;

    if(this.checked){
      // push the element vs the value
      selectedItems.push(this.value);
    }else{
      // remove items on uncheck
      selectedItems.splice(selectedItems.indexOf(this.value), 1);
    }

    updateList();
     });



  var updateList = function(){
    // create map of values for joining
    var selectedItemsValues = selectedItems.sort().join(' '),
        // min value
        minPrice = slider.slider('values', 0);

    // filter list items         
    listItems.hide().filter(function(){
      // get data attributes
      var data = this.dataset;
      // restrict list to price band and selections
      return Number(data.price) > minPrice && (selectedItems.length ? data.category.includes(selectedItemsValues) : true);
    })
    .show();

    // count visible li only
    var total = $('#products li:visible').length;

    if(total === 0){
      results.html('We did not find any matches. Maybe you can add your own experiences!');
    }else{
      results.html('We found ' + total + (total === 1 ? ' match' : ' matches' ) + '!');
    }
  }
});
</script>

<script>
	
$(document).ready(function(){
  $('.your-class').slick();
});

$('.modal').on('shown.bs.modal', function (e) {
  $('.your-class').slick('setPosition');
  $('.wrap-modal-slider').addClass('open');
});



</script>

