---
title: teach
slug: teach/
---

<div id="teach-page">

  {{> sidebar}}
	

 <main id="content" class="column-span">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src = "{{assets}}/js/teach.js"></script>


<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myDIV *").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});

</script>

<script>
	
	
function init() {
    const sliders = document.getElementsByClassName("tick-slider-input");

    for (let slider of sliders) {
        slider.oninput = onSliderInput;

        updateValue(slider);
        updateValuePosition(slider);
        updateLabels(slider);
        updateProgress(slider);

        setTicks(slider);
    }
}

function onSliderInput(event) {
    updateValue(event.target);
    updateValuePosition(event.target);
    updateLabels(event.target);
    updateProgress(event.target);
}

function updateValue(slider) {
    let value = document.getElementById(slider.dataset.valueId);

    value.innerHTML = "<div>" + slider.value + "</div>";
}

function updateValuePosition(slider) {
    let value = document.getElementById(slider.dataset.valueId);

    const percent = getSliderPercent(slider);

    const sliderWidth = slider.getBoundingClientRect().width;
    const valueWidth = value.getBoundingClientRect().width;
    const handleSize = slider.dataset.handleSize;

    let left = percent * (sliderWidth - handleSize) + handleSize / 2 - valueWidth / 2;

    left = Math.min(left, sliderWidth - valueWidth);
    left = slider.value === slider.min ? 0 : left;

    value.style.left = left + "px";
}

function updateLabels(slider) {
    const value = document.getElementById(slider.dataset.valueId);
    const minLabel = document.getElementById(slider.dataset.minLabelId);
    const maxLabel = document.getElementById(slider.dataset.maxLabelId);

    const valueRect = value.getBoundingClientRect();
    const minLabelRect = minLabel.getBoundingClientRect();
    const maxLabelRect = maxLabel.getBoundingClientRect();

    const minLabelDelta = valueRect.left - (minLabelRect.left);
    const maxLabelDelta = maxLabelRect.left - valueRect.left;

    const deltaThreshold = 32;

    if (minLabelDelta < deltaThreshold) minLabel.classList.add("hidden");
    else minLabel.classList.remove("hidden");

    if (maxLabelDelta < deltaThreshold) maxLabel.classList.add("hidden");
    else maxLabel.classList.remove("hidden");
}

function updateProgress(slider) {
    let progress = document.getElementById(slider.dataset.progressId);
    const percent = getSliderPercent(slider);

    progress.style.width = percent * 100 + "%";
}

function getSliderPercent(slider) {
    const range = slider.max - slider.min;
    const absValue = slider.value - slider.min;

    return absValue / range;
}

function setTicks(slider) {
    let container = document.getElementById(slider.dataset.tickId);
    const spacing = parseFloat(slider.dataset.tickStep);
    const sliderRange = slider.max - slider.min;
    const tickCount = sliderRange / spacing + 1; // +1 to account for 0

    for (let ii = 0; ii < tickCount; ii++) {
        let tick = document.createElement("span");

        tick.className = "tick-slider-tick";

        container.appendChild(tick);
    }
}

function onResize() {
    const sliders = document.getElementsByClassName("tick-slider-input");

    for (let slider of sliders) {
        updateValuePosition(slider);
    }
}

window.onload = init;
window.addEventListener("resize", onResize);
</script>



<!--
<input id="ex10" type="range" data-slider-handle="custom"/>

<script>
var slider = new Slider("#ex10", {});</script>

<input id="ex6" type="" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="3"/>
<span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>

<script>

$("#ex6").slider();
$("#ex6").on("slide", function(slideEvt) {
	$("#ex6SliderVal").text(slideEvt.value);
});

</script>
-->

  	<section class= "teach-intro">
      <h1>{{#i18n "teach-title2"}}{{/i18n}}</h1>

	      <p>{{#i18n "teach-intro1"}}{{/i18n}}{{#i18n "teach-intro2"}}{{/i18n}}{{#i18n "teach-intro3"}}{{/i18n}}{{#i18n "teach-intro4"}}{{/i18n}}</p>

 	<section class= "teach-slider">
	  <h2>{{#i18n "teach-slider-title1"}}{{/i18n}}</h2>
		<div class="slidecontainer"><input type="range" min="1" max="5" value="1" class="slider" id="slider1">
		</div>

	  <h2>{{#i18n "teach-slider-title2"}}{{/i18n}}</h2>
		  <div class="slidecontainer"><input type="range" min="1" max="100" value="50" class="slider" id="slider2"></div>

    <button class="accordion">more</button>
		<div class="panel">
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>

	</section>

<h2 class = "teach-results">{{#i18n "teach-results"}}{{/i18n}}</h2>
<p>search</p>
<input id="myInput" type="text" placeholder="Search..">

<div id="myDIV">
  <p><a href = "https://yinhwa.art"> I am a paragraph.</a></p>
  <div>I am a div element inside div.</div>
  <button>I am a button</button>
  <button>Another button</button>
  <p>Another paragraph.</p>

        <div class="left-column">
           <div class="label">
            <a class="nounderline" href="{{root}}/reference/#/libraries/p5.sound" target="_blank">
              <img alt="" src="{{assets}}/img/libraries/p5.sound.jpg"></a>
              <h3>p5.sound</h3>
            
            <p>{{#i18n "p5.sound"}}{{/i18n}} {{#i18n "libraries-created-by" }}{{/i18n}}
            <a href="https://www.jasonsigal.cc/"
              target="_blank">Jason Sigal</a>
          </p>
          </div>
        </div>

        <div class="right-column">
                    <div class="label">
            <a class="nounderline" href="https://github.com/processing/p5.accessibility" target="_blank">
              <img alt="" src="{{assets}}/img/libraries/p5.accessibility.jpg">
              <h3>p5.accessibility</h3>
            </a>
          <p>{{#i18n "p5.accessibility"}}{{/i18n}} 
          </p>
        </div>
        </div>

</div>

<!-- slider -->
<div id="wrapper">
    <div id="sliderContainer">
        <div class="tick-slider">
            <div class="tick-slider-header">
                <h5><label for="weightSlider">Total weight</label></h5>
                <h5>kg</h5>
            </div>
            <div class="tick-slider-value-container">
                <div id="weightLabelMin" class="tick-slider-label">0</div>
                <div id="weightLabelMax" class="tick-slider-label">40</div>
                <div id="weightValue" class="tick-slider-value"></div>
            </div>
            <div class="tick-slider-background"></div>
            <div id="weightProgress" class="tick-slider-progress"></div>
            <div id="weightTicks" class="tick-slider-tick-container"></div>
            <input
                id="weightSlider"
                class="tick-slider-input"
                type="range"
                min="0"
                max="40"
                step="5"
                value="9"
                data-tick-step="5"
                data-tick-id="weightTicks"
                data-value-id="weightValue"
                data-progress-id="weightProgress"
                data-handle-size="18"
                data-min-label-id="weightLabelMin"
                data-max-label-id="weightLabelMax"
            />
        </div>
        <div class="tick-slider">
            <div class="tick-slider-header">
                <h5><label for="sizeSlider">Total size</label></h5>
                <h5>cm</h5>
            </div>
            <div class="tick-slider-value-container">
                <div id="sizeLabelMin" class="tick-slider-label">0</div>
                <div id="sizeLabelMax" class="tick-slider-label">300</div>
                <div id="sizeValue" class="tick-slider-value"></div>
            </div>
            <div class="tick-slider-background"></div>
            <div id="sizeProgress" class="tick-slider-progress"></div>
            <div id="sizeTicks" class="tick-slider-tick-container"></div>
            <input
                id="sizeSlider"
                class="tick-slider-input"
                type="range"
                min="0"
                max="300"
                step="25"
                value="150"
                data-tick-step="25"
                data-tick-id="sizeTicks"
                data-value-id="sizeValue"
                data-progress-id="sizeProgress"
                data-handle-size="18"
                data-min-label-id="sizeLabelMin"
                data-max-label-id="sizeLabelMax"
            />
        </div>
    </div>
</div>


<!-- Twitter link -->
<a class="twitter" style="position: fixed; left: 20px; bottom: 20px; opacity: 0.2;" href="https://twitter.com/park_narrative" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 72 72"><path fill="black" d="M67.812 16.141a26.246 26.246 0 0 1-7.519 2.06 13.134 13.134 0 0 0 5.756-7.244 26.127 26.127 0 0 1-8.313 3.176A13.075 13.075 0 0 0 48.182 10c-7.229 0-13.092 5.861-13.092 13.093 0 1.026.118 2.021.338 2.981-10.885-.548-20.528-5.757-26.987-13.679a13.048 13.048 0 0 0-1.771 6.581c0 4.542 2.312 8.551 5.824 10.898a13.048 13.048 0 0 1-5.93-1.638c-.002.055-.002.11-.002.162 0 6.345 4.513 11.638 10.504 12.84a13.177 13.177 0 0 1-3.449.457c-.846 0-1.667-.078-2.465-.231 1.667 5.2 6.499 8.986 12.23 9.09a26.276 26.276 0 0 1-16.26 5.606A26.21 26.21 0 0 1 4 55.976a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.251-19.949 37.251-37.249 0-.566-.014-1.134-.039-1.694a26.597 26.597 0 0 0 6.533-6.774z"></path></svg></a>


  </main>


  {{> asterisk}}

</div> 

