---
title: teach
slug: teach/
---

<div id="teach-page">

  {{> sidebar}}

 <main id="content" class="column-span">
  	<section class= "teach-intro">
      <h1><a href="{{root}}/learn/">Learn</a> & {{#i18n "teach-title2"}}{{/i18n}}</h1>

	      <p>{{#i18n "teach-intro1"}}{{/i18n}}{{#i18n "teach-intro2"}}{{/i18n}}{{#i18n "teach-intro3"}}{{/i18n}}{{#i18n "teach-intro4"}}{{/i18n}} Every teaching has its own unique goals, messages, conditions,  and environments. By documenting and sharing your teaching experiences on the p5.js website, we hope to better connect the p5.js learner and educator communities around the world.</p>



<!-- test-->

    </section>


	 	
<!--<input type="text" id="amount" readonly>-->

	<section>

		<div id="results"></div>
			<h2 class = "teach-results">p5 teachings</h2> <!--{{#i18n "teach-results"}}{{/i18n}}-->
				
	<!--			<div class = "teach-search-subgroups">-->
					<div class="search"><input type="checkbox" id="search"><label class="search-title"> Explore in Diversity >> </label></div>
					
						<div class="panel">
						<br>		
						  <ul class="filters">
						  	<li><p class = "title"> &#x1F33A; Inclusion : </p></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="gender" value="gender"><label for="gender">Gender</label></li>
						    <li><input type="checkbox" id="race-ethnicity" value="race-ethnicity"><label for="race-ethnicity">Race & Ethnicity</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="language" value="language"><label for="language">Language</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="neuro-type" value="neuro-type"><label for="neuro-type">Neuro-type</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="ability" value="ability"><label for="ability">Ability</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="class" value="class"><label for="class">Class</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="religion" value="religion"><label for="religion">Religion</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="subculture" value="subculture"><label for="subculture">Subculture</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="political-opinion" value="political-opinion"><label for="political-opinion">Political Opinion</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="skill-level" value="skill-level"><label for="skill-level">Skill Level</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="occupation" value="occupation"><label for="occupation">Occupation</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="noCodeSnobs" value="noCodeSnobs"><label for="noCodeSnobs">#noCodeSnobs</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="newKidLove" value="newKidLove"><label for="newKidLove">#newKidLove</label></li>
						    <li><input type="checkbox" name = "f1-inclusion" id="unassumeCore" value="unassumeCore"><label for="unassumeCore">#unassumeCore</label></li>
						    <li><input type="checkbox" id="BlackLivesMatter" value="BlackLivesMatter"><label for="BlackLivesMatter">#BlackLivesMatter&#x1F5A4;</label></li>
							

							<li class="clear"></li>
							<li><p class = "title">&#x1F4CD; Venue : </p></li>
							<li><input type="checkbox" id="virtual-online" value="virtual-onlline"><label for="virtual-online">Virtual-Online &#x1F310;</label></li>
							<li><input type="checkbox" id="africa" value="africa"><label for="africa">Africa</label></li>
						    <li><input type="checkbox" id="asia" value="asia"><label for="asia">Asia</label></li>
						    <li><input type="checkbox" id="europe" value="europe"><label for="europe">Europe</label></li>
						    <li><input type="checkbox" id="north-america" value="north-america"><label for="north-america">North America</label></li>
						    <li><input type="checkbox" id="oceania" value="oceania"><label for="oceania">Oceania</label></li>
						    <li><input type="checkbox" id="south-america" value="south-america"><label for="south-america">South America</label></li>
						    <li><input type="checkbox" id="antartica" value="antartica"><label for="antartica">Antartica</label></li>	


							<li class="clear"></li>
							<li><p class = "title">&#x1F4C5; Year : </p></li>
							<li><input type="checkbox" id="2013" value="2013"><label for="2013">~2013</label></li>
							<li><input type="checkbox" id="2014" value="2014"><label for="2014">2014</label></li>
						    <li><input type="checkbox" id="2015" value="2015"><label for="2015">2015</label></li>
						    <li><input type="checkbox" id="2016" value="2016"><label for="2016">2016</label></li>
						    <li><input type="checkbox" id="2017" value="2017"><label for="2017">2017</label></li>
						    <li><input type="checkbox" id="2018" value="2018"><label for="2018">2018</label></li>
						    <li><input type="checkbox" id="2019" value="2019"><label for="2019">2019</label></li>
						    <li><input type="checkbox" id="2020" value="2020"><label for="2020">2020</label></li>

							<li class="clear"></li>
							<li><p class = "title">&#x1F469; Level of Difficulty : </p></li>
							<li><input type="checkbox" id="elementary" value="elementary"><label for="elementary">Elementary</label></li>
							<li><input type="checkbox" id="intermediate" value="intermediate"><label for="intermediate">Intermediate</label></li>
						    <li><input type="checkbox" id="advanced" value="advanced"><label for="advanced">Advanced</label></li>
						  </ul>
								
						<!--<p class = "search-border"></p>-->

						</div>

								<!-- search-results -->
						<br>
						
					<div class = "results-wrapper">
						<div class="results" id="search-results">
							<br>
						<ul>
				  		  <li class="items" data-category="gender"><a href="#a1" class="myBtn" >2019 "p5.js at l'Ubuntu Party !" Basile Pesin</a></li>
				  		  <li class="items" data-category="gender"><a href="#a2" class="myBtn">2020 "Making The Thing that Makes the Thing&#x22EF;" Priti Pandurangan &#x0026; Ajith Ranka</a></li>
						  <li class="items" data-category="gender"><a href="#a2" class="myBtn">2018, taller introducci??n a la programaci??n creativa con p5.js, Aar??n Montoya-Moraga</a></li>
						  <li class="items" data-category="gender 2018"><a href="#a3" class="myBtn">2020, Workshop Title, Venue, Lead name</a></li>
						  <li class="items" data-price="1" data-category="gender"><a href="#a3" class="myBtn" >2020, Introduction to generative painting, Dvorjak Bach Gogh hiroo my 2020, Workshop Title, Venue, Lead name</a></li>
						  <li class="items" data-price="12000" data-category="gender">2020, Workshop Title, Venue, Lead name</li>
						  <li class="items" data-price="13000" data-category="ethnicity">2020, Workshop Title, Venue, Lead name</li>
						  <li class="items" data-price="14000" data-category="language ability">2020, Workshop Title, Venue, Lead name</li>
						  <li class="items" data-price="12000" data-category="ability religion">2020, Workshop Title, Venue, Lead name</li>
						  <li class="items" data-price="14000" data-category="religion">2020, Workshop Title, Venue, Lead name</li>
						  <li class="items" data-price="16000" data-category="subculture">2020, Workshop Title, Venue, Lead name</li>
						  <li class="items" data-price="20000" data-category="age"><a href="#a4" class="myBtn">2020, Workshop Title, Venue, Lead name</a></li>
	    				</ul>
						<br>
						</div> 
					</div>
						<br>

						<h2 class="share">Share your own experiences :</h2><button class="submit-btn" onclick= "window.open('https://docs.google.com/forms/d/e/1FAIpQLSei8yHX2BROMnMQeZT_tsSXJOH13TPRG6CB4GVHH1oL1hzkZg/viewform?usp=sf_link', '_blank')"> submit or recommend >> </button>
					
			   <br>
						

		
				<div id="myModal" class="modal">
				  <div class="modal-content" id="a1"><div class="close"><span>&#215;</span></div>
			            <div class="modal-header">
			            	<br>
			               <!-- <h2 class="modal-title"></h2>--> 
			            </div> 
				        <div class="modal-body">
				        	<ul>

				        	<li class = "writing"><!--<img src="{{assets}}/img/asterisk-01.png">--><span>Title & Lead</span><p>"p5.js à l'Ubuntu Party !" by Basile Pesin</p></li>
				            <li class = "writing"><span><!--&#x1F4CD;&#x1F4C5;-->Venue & Date</span><p> In-person workshop during the <a href="https://ubuntu-paris.org/">Ubuntu Party</a> in Paris, Cité des Sciences et de l'Industrie.</p><p>1 hour per session, with different participant each times.</p></li>  				
				            <li class = "writing"><span>Participants</span><p>Any age, including children and parents, young and older adults.
				            </p></li>		            				
				            <li class = "writing"><span>Level of Difficulty</span><p>Advanced</p></li>

				            <li class = "writing"><p class = "subtitle">&#x1F3C1; Goal</p><p>To introduce a new public to programming through fun and compelling examples.</p></li>
				            <li class = "writing"><p class="subtitle">&#x1F4DD; Method &#x0026; Materials</p><p>The students were using (Ubuntu) machines with the p5.js web editor.</p><p>I was teaching using a video projector as well as a board.</p><p>The exercises I gave where accessible through p5.js web-editor links available in <a href = "https://vertmo.github.io/ubuntu-party-p5/">Github</a>.</p></li>		
				             <li class = "writing"><label>gender</label><label>race & ethnicity</label><label>age</label><label>skill</label><label>level</label><label>#BlackLivesMatter&#x1F5A4;</label>
				            </li>
				         
				            </ul>
				        </div> 
			            <div class="modal-footer"></div> 
			        
				  </div>

				  <div class="modal-content" id="a2"><div class="close"><span>&#215;</span></div>
			            <div class="modal-header">
			            	<br>
			               <!-- <h2 class="modal-title"></h2>--> 
			            </div> 
				        <div class="modal-body">
				        	<ul>

				        	<li class = "writing"><!--<img src="{{assets}}/img/asterisk-01.png">--><span>Title & Lead</span><p>"p5.js à l'Ubuntu Party !" by Basile Pesin</p></li>
				            <li class = "writing"><span><!--&#x1F4CD;&#x1F4C5;-->Venue & Date</span><p> In-person workshop during the <a href="https://ubuntu-paris.org/">Ubuntu Party</a> in Paris, Cité des Sciences et de l'Industrie.</p><p>1 hour per session, with different participant each times.</p></li>  				
				            <li class = "writing"><span>Participants</span><p>Any age, including children and parents, young and older adults.
				            </p></li>		            				
				            <li class = "writing"><span>Level of Difficulty</span><p>Advanced</p></li>

				            <li class = "writing"><p class = "subtitle">&#x1F3C1; Goal</p><p>To introduce a new public to programming through fun and compelling examples.</p></li>
				            <li class = "writing"><p class="subtitle">&#x1F4DD; Method &#x0026; Materials</p><p>The students were using (Ubuntu) machines with the p5.js web editor.</p><p>I was teaching using a video projector as well as a board.</p><p>The exercises I gave where accessible through p5.js web-editor links available in <a href = "https://vertmo.github.io/ubuntu-party-p5/">Github</a>.</p></li>		
				             <li class = "writing"><label>gender</label><label>race & ethnicity</label><label>age</label><label>skill</label><label>level</label><label>#BlackLivesMatter&#x1F5A4;</label>
				            </li>
				         
				            </ul>
				        </div> 
			            <div class="modal-footer"></div> 
			        
				  </div>











				</div>

			


	</section>


	<!--modal-->


    {{> footer}}

  </main>

  {{> asterisk}}

</div>

<!--js script-->
<!--modal script-->




<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>



<!--modal box-->


<script>
$(document).on('click','.myBtn',function(){
	var myTargetModal =  $(this).attr('href');
	$('#myModal').hide();
	$('.modal-content').hide();
	
	$('#myModal').fadeIn();
	$(myTargetModal).fadeIn();
  return false;
});

$("body" ).on( "click",".close", function() {
  	$('#myModal').hide();
	$('.modal-content').hide();
});

</script>
<!--
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

-->
<!--checkbox -->
<script>


var $filterCheckboxes = $( '.filters' );

$filterCheckboxes.on( 'change', function() {

  var selectedFilters = {};

  $filterCheckboxes.filter( ':checked' ).each( function() {

    if ( ! selectedFilters.hasOwnProperty( this.name ) ) {
      selectedFilters[ this.name ] = [];
    }

    selectedFilters[ this.name ].push( this.value );

  } );

} );

// create a collection containing all of the filterable elements
var $filteredResults = $( '.search-results' );

// loop over the selected filter name -> (array) values pairs
$.each( selectedFilters, function( name, filterValues ) {

  // filter each .flower element
  $filteredResults = $filteredResults.filter( function() {

    var matched = false,
        currentFilterValues = $( this ).data( 'category' ).split( ' ' );

    // loop over each category value in the current .flower's data-category
    $.each( currentFilterValues, function( _, currentFilterValue ) {

      // if the current category exists in the selected filters array
      // set matched to true, and stop looping. as we're ORing in each
      // set of filters, we only need to match once

      if ( $.inArray( currentFilterValue, filterValues) != -1 ) {
        matched = true;
        return false;
      }

    } );    

    // if matched is true the current .flower element is returned
    return matched;    

  } );

} );

$( '.search-results' ).hide().filter( $filteredResults ).show();

</script>



<!--


<script>
                $('.filters').delegate('input[type=checkbox]', 'change', function() {
					var $lis = $('.search-results > div'),
						$checked = $('input:checked');	
					if ($checked.length) {							
                        var selector = '';
                        $($checked).each(function(index, element){
							if(selector === '') {
								selector += "[data-category]";                  
							} else {
								selector += "[data-category]";
							}
                        });                        
						$lis.hide(); 
                        console.log(selector);
						$('.search-results > div').hide().filter(selector).show();			   
					} else {
						$lis.show();
					}
				});

</script>-->


<!--
<script>
var $results=$('.search-result'),
    $checks=$(':checkbox[name^=f1]');

$checks.change(function(){
    var $checked=$checks.filter(':checked');
    /* show all when nothing checked*/
    if(!$checked.length){
        $results.fadeIn();
        return; /* quit here if nothing checked */
    }
    /* create array of checked values */
    var checkedVals= $.map($checked, function(el){
        return el.value
    });
    /* hide all results, then filter for matches */
    $results.hide().filter(function(){
        /* split categories for this result into an array*/
        var cats=$(this).data('category').split(' ');
        /* filter the checkedVals array to only values that match */
        var checkMatches=$.grep(checkedVals, function(val){              
            return $.inArray(val, cats) >-1;
        });
        /* only return elements with matched array and original array being same length */             
        return checkMatches.length === checkedVals.length;
     /* show results that match all the checked checkboxes */            
    }).show();
    /* do something when there aren't any matches */
    if(!$results.length){
       alert('Ooops...no matches');
    }
});
</script>-->
<!--
<script>
	$(":checkbox[name^=f1]").click(function() 
		{
	       	$("results li").hide();
	       	$(":checkbox[name^=f1]:checked").each(function() 
	       	{
	           $(".inclusion" + $(this).val()).fadeIn();
			});
	       
	        if($('.inclusion :checkbox').filter(':checked').length < 1) 
	        {
	        	$("results li").fadeIn();
	        	
	        }
	        
	    });
</script>

-->
<!--multi test slider-->

<script>

//search accordion menu

var acc = document.getElementsByClassName("search");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 

  });
}
</script>
<!--
<script>
$(document).ready(function(){
  // cache ref to all checkbox elements
  var checkboxes = $('input:checkbox'),
      // cache ref to results
      results = $('#search-results'),
      // cache ref to our list
      listItems = $('.items > li'),
      // cache amount ref
      amount = $('#amount'),
      // collection of selected checkbox elements
      selectedItems = [],

      };
      
  // render slider      
  
  checkboxes.on('change', function(){
    var id = this.id;

    if(this.checked){
      // push the element vs the value
      selectedItems.push(this.value);
    }else{
      // remove items on uncheck
      selectedItems.splice(selectedItems.indexOf(this.value), 1);
    }

    updateList();
     });



  var updateList = function(){
    // create map of values for joining
    var selectedItemsValues = selectedItems.sort().join(' '),
        // min value

    // filter list items         
    listItems.hide().filter(function(){
      // get data attributes
      var data = this.dataset;
      // restrict list to price band and selections
      return Number(data.price) > 0 && (selectedItems.length ? data.category.includes(selectedItemsValues) : true);
    })
    .show();

    // count visible li only
    var total = $('#search-results li:visible').length;

    if(total === 0){
      results.html('We did not find any matches. Maybe you can add your own experiences!');
    }else{
          results.html('We found ' + total + (total === 1 ? ' match' : ' matches' ) + '!');

     }
 });
</script>
-->

