---
title: teach
slug: teach/
---

<div id="teach-page">

  {{> sidebar}}

 <main id="content" class="column-span">
  	<section class= "teach-intro">
      <h1>{{#i18n "teach-title2"}}{{/i18n}}</h1>

	      <p>{{#i18n "teach-intro1"}}{{/i18n}}{{#i18n "teach-intro2"}}{{/i18n}}{{#i18n "teach-intro3"}}{{/i18n}}{{#i18n "teach-intro4"}}{{/i18n}}</p>
	</section>



 	<section id="filter-options" class= "teach-slider">


	<!-- diversity checkboxes-->
		<h2>Diversity</h2>
			<p></p>
			<ul>
			  <li>
			  	<input type="checkbox" value="filter_gender" data-filter_id="gender"> gender</li>
			  <li><input type="checkbox" value="filter_race" data-filter_id="race"> race</li>
			  <li><input type="checkbox" value="filter_ethnicity" data-filter_id="ethnicity"> ethnicity</li>
			  <li><input type="checkbox" value="filter_language" data-filter_id="language"> language</li>
			  <li><input type="checkbox" value="filter_yellow" data-filter_id="yellow">BIPOC</li>
			</ul>


	 	<button class="accordion"> 
        search>></button>
			<div class="panel">
			 
			  	  <h2>{{#i18n "teach-slider-title1"}}{{/i18n}}</h2>
					<div class="slidecontainer"><input type="range" min="1" max="8" value="0" class="slider"><!-- id="slider1"-->
						<ul class="range-labels">
						  <li class="active selected">All</li>
						  <li><label for="2014"><input id = "2014" type="checkbox" value="filter_2014" data-filter_id="2014" style ="visibility:hidden">'14</label></li>
						  <li><input type="checkbox" value="filter_2015" data-filter_id="2015">'15</li>
						  <li><input type="checkbox" value="filter_2016" data-filter_id="2016">'16</li>
						  <li><input type="checkbox" value="filter_2017" data-filter_id="2017">'17</li>
						  <li><input type="checkbox" value="filter_2018" data-filter_id="2018">'18</li>
						  <li><input type="checkbox" value="filter_2019" data-filter_id="2019">'19</li>
						  <li><input type="checkbox" value="filter_2020" data-filter_id="2020">'20</li>
						</ul>
					</div>

				  <h2>{{#i18n "teach-slider-title2"}}{{/i18n}}</h2>
					  <div class="slidecontainer"><input type="range" min="1" max="7" value="0" class="slider" id="slider2">
						 <ul class="range-labels">
						  <li class="active selected">All</li>
						  <li><input type="checkbox" value="filter_africa" data-filter_id="africa">Africa</li>
						  <li><input type="checkbox" value="filter_asia" data-filter_id="asia">Asia</li>
						  <li><input type="checkbox" value="filter_oceania" data-filter_id="oceania">Oceania</li>
						  <li><input type="checkbox" value="filter_europe" data-filter_id="europe">Europe</li>
						  <li><input type="checkbox" value="filter_northAmerica" data-filter_id="northAmerica">North America</li>
						  <li><input type="checkbox" value="filter_southAmerica" data-filter_id="southAmerica">South America</li>
						  <li><input type="checkbox" value="filter_antartica" data-filter_id="antartica">Antartica</li>
						</ul>
					</div>

				  <h2>Level</h2>
					  <div class="slidecontainer"><input type="range" min="1" max="4" value="0" class="slider" id="slider3">
						 <ul class="range-labels">
						  <li class="active selected">All</li>
						  <li><input type="checkbox" value="filter_begineer" data-filter_id="beginner">beginner</li>
						  <li><input type="checkbox" value="filter_intermediate" data-filter_id="intermediate">intermediate</li>
						  <li><input type="checkbox" value="filter_advanced" data-filter_id="advanced">advanced</li>
						</ul>
					</div>
			</div>


	<h2 class = "teach-results">{{#i18n "teach-results"}}{{/i18n}}</h2>
		<div>
			<ul id="filter-list">
			  <li class="filter_gender">
			    <button id ="result">QTV</button>
			  </li>
			  <li class="filter_race">
			    <p>race</p>
			  </li>
			  <li class="filter_ethnicity filter_gender">
			    <p>workshop blah</p>
			  </li>
			  <li class="filter_yellow">
			    <p>workshop2</p>
			  </li>
			  <li class="filter_2014">
			  	<p>1st workshop</p>
			  </li>
			</ul>
		</div>

	</section>

  </main>

<!--modal-->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <span class="close">&times;</span>
	      <h2>Modal Header</h2>
	    </div>
	    <div class="modal-body">
	      <p>Title</p>
	      <p>Location & Venue hi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and youhi everyone this is inhwa yeom in from korean im fine thank you and you</p>
	    </div>
	    <div class="modal-footer">
	      <h3>More Info</h3>
	    </div>
	  </div>

	</div>


  {{> asterisk}}

</div>


<script>
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the button that opens the modal
	var btn = document.getElementById("result");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks the button, open the modal 
	btn.onclick = function() {
	  modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
	    modal.style.display = "none";
	  }
	}
</script>


<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$("#filter-options :checkbox").click(function() 
		{
	       	$("#filter-list li").hide();
	       	$("#filter-options :checkbox:checked").each(function() 
	       	{
	           $("." + $(this).val()).fadeIn();
			});
	       
	        if($('#filter-options :checkbox').filter(':checked').length < 1) 
	        {
	        	$("#filter-list li").fadeIn();
	        	
	        }
	        
	    });
	</script>
	<script>
	$(function() {
    $(".slidecontainer").slider({
      step: 3,
      animate: 'slow',
      stop: function(e, ui) {
        if (ui.value > 0) {
          $("#slider input[type='checkbox']").prop("checked", true);
        }
      }
    });
  });
	</script>

<!--slidercontainer design-->

<script>
var sheet = document.createElement('style'),  
  $rangeInput = $('.slidecontainer input'),
  prefs = ['webkit-slider-runnable-track', 'moz-range-track', 'ms-track'];

document.body.appendChild(sheet);

var getTrackStyle = function (el) {  
  var curVal = el.value,
      val = (curVal - 1) * 16.666666667,
      style = '';
  
  $('.range-labels li').removeClass('active selected');
  
  var curLabel = $('.range-labels').find('li:nth-child(' + curVal + ')');
  
  curLabel.addClass('active selected');
  curLabel.prevAll().addClass('selected');
  
 for (var i = 0; i < prefs.length; i++) {
   /* style += '.slidecontainer {background: linear-gradient(to right, #ed225d 0%, #ed225d ' + val + '%, #fff ' + val + '%, #fff 100%)}';*/
    style += '.slidecontainer input::-' + prefs[i] /*+ '{background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #b2b2b2 ' + val + '%, #b2b2b2 100%)}'*/;
  }

  return style;
}

$rangeInput.on('input', function () {
  sheet.textContent = getTrackStyle(this);
});

$('.range-labels li').on('click', function () {
  var index = $(this).index();
  
  $rangeInput.val(index + 1).trigger('input');
  
});
</script>

<!--accordion menu-->


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script> 
