---
title: teach
slug: teach/
---

<div id="teach-page">

  {{> sidebar}}

  <main id="teach-content" class="column-span">
      <h1>{{#i18n "teach-title2"}}{{/i18n}}</h1>
      <p>{{#i18n "teach-intro1"}}{{/i18n}}{{#i18n "teach-intro2"}}{{/i18n}}{{#i18n "teach-intro3"}}{{/i18n}}</p>
      <p>{{#i18n "teach-intro4"}}{{/i18n}}</p>
	  <p>{{#i18n "teach-slider-title1"}}{{/i18n}}</p>
		<div class="slidecontainer">
		  <input type="range" min="1" max="100" value="50" class="slider" id="slider1">
		  <input type="range" min="1" max="100" value="50" class="slider" id="slider2">
		  <input type="range" min="1" max="100" value="50" class="slider" id="slider3">
		</div>

    {{> footer}}

  </main>

  {{> asterisk}}

</div> 