---
title: contribute
heading: 'p5.js'
language: en
---
<!-- content sections -->
<div>
  <div id = "container">
  {{>i18n-en}}
<div class="column-span">
  {{>sidebar}}
<section>

      <h2>{{#i18n "title"}}{{/i18n}}</h2>

      <h3>{{#i18n "head1"}}{{/i18n}}</h3>

      <p>
      {{#i18n "sub"}}{{/i18n}}
      </p>

      <div class="contribute-container">

      <div id = "contribute-item" class="dev0">
        <div class="contribute-item-container">
         <h3 class = "contribute-title"> {{#i18n "develop"}}{{/i18n}} </h3>

         <p><a href="https://github.com/processing/p5.js" target="blank_">Github</a>{{#i18n "p1x1"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Development" target="blank_">{{#i18n "devTutorial"}}{{/i18n}}</a>{{#i18n "p1x2"}}{{/i18n}}<a href="../libraries/#create-your-own">{{#i18n "createLib"}}{{/i18n}}</a>
         </p>
       </div>
       <div id="contribute-item-background0"></div>
      </div>

      <div id = "contribute-item" class="dev1">
        <div class="contribute-item-container">
         <h3 class = "contribute-title"> {{#i18n "document"}}{{/i18n}} </h3>
         <p>{{#i18n "p2x1"}}{{/i18n}}<a href="https://github.com/lmccart/p5js.org/wiki/Adding-examples" target="blank_">{{#i18n "port"}}{{/i18n}}</a>, <a href="https://github.com/processing/p5.js/wiki/Inline-documentation" target="blank_">{{#i18n "add"}}{{/i18n}}</a>{{#i18n "p2x2"}}{{/i18n}}
         </p>
       </div>
       <div id="contribute-item-background1"></div>
      </div>

    <div class= "spacer"></div>

    <div class="contribute-container">


      <div id = "contribute-item" class="dev2">
        <div class="contribute-item-container">
          <h3 class = "contribute-title"> {{#i18n "teach"}}{{/i18n}} </h3>
              <p>{{#i18n "p3x1"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Education" target="blank_">{{#i18n "education"}}{{/i18n}}</a>
                {{#i18n "p3x2"}}{{/i18n}}
             </p>
       </div>
       <div id="contribute-item-background2"></div>
      </div>


      <div id = "contribute-item" class="dev3">
        <div class="contribute-item-container">
          <h3 class = "contribute-title"> {{#i18n "create"}}{{/i18n}} </h3>
          <p>{{#i18n "p4x1"}}{{/i18n}}
            <a href="http://p5js.org/form/">{{#i18n "submit"}}{{/i18n}}</a> {{#i18n "p4x2"}}{{/i18n}}<a href="mailto:feature@p5js.org">feature@p5js.org</a>.
         </p>
       </div>
       <div id="contribute-item-background3"></div>
      </div>

    </div>






    <p>{{#i18n "p5"}}{{/i18n}} <a href="mailto:hello@p5js.org">hello@p5js.org</a>.</p>


      <div id="contributors-subsection">
      <a name="contributors" class="anchor"><h3>Contributors</h3></a>

        <p>{{#i18n "c1"}}{{/i18n}}<a href="http://lauren-mccarthy.com">Lauren McCarthy</a>{{#i18n "c2"}}{{/i18n}}</p>

        <p><a href="http://evelyneastmond.com">Evelyn Eastmond</a>{{#i18n "c3"}}{{/i18n}}</p>

        <p><a href="http://www.shiffman.net/">Dan Shiffman</a> {{#i18n "c4"}}{{/i18n}}</p>

        <p><a href="http://jereljohnson.com/">Jerel Johnson</a>{{#i18n "c5"}}{{/i18n}}</p>

        <p><a href="http://lav.io/">Sam Lavigne</a>{{#i18n "c6"}}{{/i18n}}</p>

        <p><a href="http://www.jasonsigal.cc/">Jason Sigal</a>{{#i18n "c7"}}{{/i18n}}</p>

        <p><a href="http://scott.j38.net/">Scott Garner</a>{{#i18n "c8"}}{{/i18n}}<a href="http://hello.p5js.org">{{#i18n "hello"}}{{/i18n}}</a>.</p>

        <p>{{#i18n "c9"}}{{/i18n}}<a href="http://itp.nyu.edu">NYU ITP</a>{{#i18n "c10"}}{{/i18n}}</p>

        <p>{{#i18n "c11"}}{{/i18n}}<a href="http://bocoup.com">Bocoup</a>{{#i18n "c12"}}{{/i18n}}<a href="http://clome.info/"> Yannick Assogba</a>, <a href="http://www.kadamwhite.com/">K.Adam White</a>{{#i18n "and"}}{{/i18n}}
        <a href="http://bobholt.me/">Bob Holt</a>{{#i18n "c13"}}{{/i18n}}
        </p>

        <p><a href="https://github.com/processing/p5.js/graphs/contributors">{{#i18n "c14"}}{{/i18n}}</a>{{#i18n "c15"}}{{/i18n}}</p>

        <svg width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
        <path stroke-miterlimit="10" d="M16.909,10.259l8.533-2.576l1.676,5.156l-8.498,2.899l5.275,7.48
            l-4.447,3.225l-5.553-7.348L8.487,26.25l-4.318-3.289l5.275-7.223L0.88,12.647l1.678-5.16l8.598,2.771V1.364h5.754V10.259z"/>
        </svg>

        <p><a href="http://processing.org">The Processing Foundation</a> &#8212; <a href="http://reas.com/">Casey Reas</a>,
        <a href="http://benfry.com/">Ben Fry</a>, and <a href="http://www.shiffman.net/">Dan Shiffman</a>{{#i18n "c16"}}{{/i18n}}</p>

        <p><a href="http://itp.nyu.edu">NYU ITP</a> and <a href="http://risd.edu">RISD</a>{{#i18n "c17"}}{{/i18n}}</p>
        </div>

  {{> footer}}
  </section>
  </div>
</div>
</div>
