---
title: download
slug: download/
---

<div id="download-page">

  {{> sidebar}}

  <div class="column-span">

    <section id="content" role="region" label="main content">

      <h1>{{#i18n "Download"}}{{/i18n}}</h1>

      <!-- <p>{{#i18n "Donate-1"}}{{/i18n}}<a href="http://foundation.processing.org">Processing Foundation</a>,{{#i18n "Donate-2"}}{{/i18n}}<br>
      <a href="https://processingfoundation.org/support">{{#i18n "Donate-3"}}{{/i18n}}</a>
      </p> -->

      <!-- COMPLETE LIBRARY -->
      <div class="link_group">
        <h2>{{#i18n "complete-library-title"}}{{/i18n}}</h2>

        <a  class='support_link p5_link' href="https://github.com/processing/p5.js/releases/download/[p5_version]/p5.zip">
          <div class="download_box">

            <h4>{{#i18n "p5.js-complete"}}{{/i18n}}</h4>

            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve"><path stroke-miterlimit="10" d="M16.909,10.259l8.533-2.576l1.676,5.156l-8.498,2.899l5.275,7.48
                l-4.447,3.225l-5.553-7.348L8.487,26.25l-4.318-3.289l5.275-7.223L0.88,12.647l1.678-5.16l8.598,2.771V1.364h5.754V10.259z"/>
            </svg>

            <p>{{#i18n "includes-1"}}{{/i18n}}
              <br>{{#i18n "includes-2"}}{{/i18n}}
            <br>{{#i18n "includes-3"}}{{/i18n}} <span id="p5_version"></span> (<span id="p5_date"></span>)
            </p>

          </div>
        </a>
        <div class="spacer"></div>
      </div>

      <!-- SINGLE FILES -->
      <div class="link_group">

        <h2>{{#i18n "single-files-title"}}{{/i18n}}</h2>
        <a class='support_link p5_link' href="https://github.com/processing/p5.js/releases/download/[p5_version]/p5.js">
          <div class="download_box half_box">
            <h4>p5.js</h4>
            <p>{{#i18n "single-file"}}{{/i18n}}
              <br>{{#i18n "p5.js-uncompressed"}}{{/i18n}}</p>
          </div>
        </a>

        <a class='support_link p5_link' href="https://github.com/processing/p5.js/releases/download/[p5_version]/p5.min.js">
          <div class="download_box half_box">
            <h4>p5.min.js</h4>
            <p>{{#i18n "single-file"}}{{/i18n}}
              <br>{{#i18n "compressed"}}{{/i18n}}</p>
          </div>
        </a>

        <a class='support_link' href="http://cdnjs.com/libraries/p5.js">
          <div class="download_box half_box last_box">
            <h4>CDN</h4>
            <p>{{#i18n "link"}}{{/i18n}}
              <br>{{#i18n "statically-hosted-file"}}{{/i18n}}</p>
          </div>
        </a>

        <div class="spacer"></div>

      </div>

      <!-- EDITOR -->
      <!-- <div class="link_group">
        <a name="editor" class="anchor">
          <h2>{{#i18n "editor-title"}}{{/i18n}}</h2></a>

        <p>{{#i18n "editor1"}}{{/i18n}}
          <a href="https://github.com/processing/p5.js-editor/issues">
            {{#i18n "editor2"}}{{/i18n}}</a>.
        </p>

        <a class="editor_link" href="https://github.com/processing/p5.js-editor/releases/download/v[editor_version]/p5-mac.zip">
          <div class="download_box half_box">
            <h4>Mac OS X</h4>
            <p>{{#i18n "p5-editor"}}{{/i18n}}
              <br>{{#i18n "version"}}{{/i18n}}
              <span class="editor_version"></span></p>
          </div>
        </a>

        <a class="editor_link" href="https://github.com/processing/p5.js-editor/releases/download/v[editor_version]/p5-win.zip">
          <div class="download_box half_box">
            <h4>Windows</h4>
            <p>{{#i18n "p5-editor"}}{{/i18n}}
              <br>{{#i18n "version"}}{{/i18n}}
              <span class="editor_version"></span></p>
          </div>
        </a>

        <a class="editor_link" href="https://github.com/processing/p5.js-editor/releases/download/v[editor_version]/p5-linux.zip">
          <div class="download_box half_box">
            <h4>Linux</h4>
            <p>{{#i18n "p5-editor"}}{{/i18n}}
              <br>{{#i18n "version"}}{{/i18n}}
              <span class="editor_version"></span></p>
          </div>
        </a>

        <div class="spacer"></div>
      </div> -->

      <!-- ETC -->
      <div class="link_group">
        <h2>{{#i18n "etc-title"}}{{/i18n}}</h2>

        <p>
        <a href="https://github.com/processing/p5.js/releases">{{#i18n "older-releases"}}{{/i18n}}</a><br>
        <a href="https://github.com/processing/p5.js">Github</a>
        <br>
        <a href="https://github.com/processing/p5.js/issues">{{#i18n "report-bugs"}}{{/i18n}}</a>
        <br>
        <a href="https://github.com/processing/p5.js/wiki/Supported-browsers">{{#i18n "supported-browsers"}}{{/i18n}}</a>
        </p>

        <div class="spacer"></div>
      </div>

    </section>

    <script type='text/javascript'>
      $.getJSON('version.json', function(data) {
        $('#p5_version').text(data.version);
        $('#p5_date').text(data.date);
        $('.p5_link').each(function() {
          var link = $(this).attr('href').replace('[p5_version]', data.version);
          $(this).attr('href', link);
        });
        $('.editor_version').text(data.editor_version);
        $('.editor_link').each(function() {
          var link = $(this).attr('href').replace('[editor_version]', data.editor_version);
          $(this).attr('href', link);
        });
      });
      $('.support_link').on('click', function (e) {
        e.preventDefault();
        // if ($(this).hasClass('p5_link')) {
        //   window.open($(this).attr('href'), '_self'); 
        //   setTimeout( function() { window.location = 'support.html'; }, 2000);
        // } else {
          window.location = 'support.html';
          window.open($(this).attr('href'));
        // }

      });

    </script>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
