# Set default behaviour to automatically normalize line endings.
* text=auto

# prevents git from converting LF to CRLF, which causes issues
# when assembling example pages on Windows
src/data/examples/**/*.js eol=lf

# Denote all files that are truly binary and should not be modified.
*.ai binary
*.gif binary
*.ico binary
*.jpg binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.ogg binary
*.ogv binary
*.otf binary
*.pdf binary
*.png binary
*.ttf binary
*.wav binary
*.webm binary
*.zip binary
