lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.yo-rc.json
*._*
._*
*/._*
*/*/._*

pids
logs
results

npm-debug.log
node_modules

*.sublime-*
.DS_Store
*/.DS_Store
.idea/

src/templates/pages/examples/*
src/templates/pages/learn/index.hbs
src/templates/pages/libraries/index.hbs
src/offline-reference
!src/templates/pages/examples/.gitkeep
dist/*
!dist/git-pull.php
!dist/download/version.json
!dist/books/media.zip
!dist/learn/books/media.zip

