lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json
*._*
._*
*/._*
*/*/._*

pids
logs
results

npm-debug.log
node_modules

*.sublime-*
.DS_Store
*/.DS_Store

src/templates/pages/examples/*
src/offline-reference
!src/templates/pages/examples/.gitkeep
dist/download/version.json
dist/assets/js/p5.min.js
dist/assets/js/p5.dom.min.js
dist/assets/js/p5.sound.min.js
learn/*
