---
title: copyright
slug: /
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >
      <h1>{{#i18n "copyright-title"}}{{/i18n}}</h1>
      <p>{{#i18n "copyright1"}}{{/i18n}}<a href="https://github.com/processing/p5.js/blob/main/license.txt">GNU Lesser General 
      Public License</a>{{#i18n "copyright2"}}{{/i18n}}</p>
      <p>{{#i18n "copyright3"}}{{/i18n}}<a href='http://creativecommons.org/licenses/by-nc-sa/4.0/'>Creative Commons</a>{{#i18n "copyright4"}}{{/i18n}}</p>

    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
