---
title: home
slug: /
---
<div id="home-page">
  {{> sidebar}}

  <div class="column-span">
    <main id="content" class="home">
      <form id="search" method="get" action="https://www.google.com/search">
        <input type="hidden" name="as_sitesearch" value="p5js.org">
        <input id="search_button" type="submit" aria-label="Search" class='sr-only'>
        <input tabindex="2" id='search_field' type="text" size="20" placeholder="Search p5js.org" name="q">
        <label class="sr-only" for="search_field">Search p5js.org</label>
      </form>

      <h1>{{#i18n "p1xh1"}}{{/i18n}}</h1>
      <p style="margin-top:1em">{{#i18n "p1x1"}}{{/i18n}}</p>
      <p>{{#i18n "p1x2"}}{{/i18n}}</p>
      <p><a href="https://showcase.p5js.org">Check out the new p5.js 2020 showcase!</a></p>
      <a href="https://editor.p5js.org"><span class='button_box'>{{#i18n "start-creating"}}{{/i18n}}</span></a>

      <h2>{{#i18n "p2xh2"}}{{/i18n}}</h2>
      <p>{{#i18n "p2x1"}}{{/i18n}}</p>
      <p>{{#i18n "p2x2"}}{{/i18n}}<a href="https://processing.org"
          target="_blank">Processing</a>{{#i18n "p2x3"}}{{/i18n}}<a href="https://processingfoundation.org"
          target="_blank">Processing Foundation</a>{{#i18n "p2x4"}}{{/i18n}}</p>
      <p>{{#i18n "p2x5"}}{{/i18n}}<a href="community/">{{#i18n "p2x6"}}{{/i18n}}</a>{{#i18n "p2x7"}}{{/i18n}}</p>

      <h2>{{#i18n "p3xh2"}}{{/i18n}}</h2>
      <p>{{#i18n "p3xp1"}}{{/i18n}}<a href="https://editor.p5js.org" target="_blank">p5.js
          Editor</a>{{#i18n "p3xp2"}}{{/i18n}}<a
          href="get-started/">{{#i18n "p3xp3"}}{{/i18n}}</a>{{#i18n "p3xp4"}}{{/i18n}}<a
          href="reference/">{{#i18n "p3xp5"}}{{/i18n}}</a>{{#i18n "p3xp6"}}{{/i18n}}</p>

      <h2>{{#i18n "p4xh2"}}{{/i18n}}</h2>
      <p>{{#i18n "p4xp1"}}{{/i18n}}</p>
      <h2 id="involvement-options" class="sr-only">{{#i18n "p4xp2"}}{{/i18n}}</h2>
      <ul aria-labelledby="involvement-options" class="list_view bullets">
        <li>{{#i18n "p4xp3"}}{{/i18n}}</li>
        <li><a href="{{root}}/teach">{{#i18n "p4xp4"}}{{/i18n}}</a></li>
        <li><a href="https://day.processing.org" target="_blank">{{#i18n "p4xp5"}}{{/i18n}}</a></li>
        <li><a href="https://github.com/processing/p5.js/tree/main/contributor_docs"
            target="_blank">{{#i18n "p4xp6"}}{{/i18n}}</a></li>
      </ul>

      {{!-- <h2>{{#i18n "sketch_credits"}}{{/i18n}}</h2>
      <p>{{#i18n "sketch_info"}}{{/i18n}}</p> --}}
    </main>
    {{> footer}}
  </div> <!-- end column-span -->

  {{!-- <div id="credits" tabindex='-1'>
    {{#i18n "sketch_info"}}{{/i18n}}<br>
    <a href='http://ccfest.rocks/' target="_blank">{{#i18n "sketch_info_link"}}{{/i18n}}</a>
    <br>
  </div> --}}

  <p class="clearfix">&nbsp;</p>

  <object tabindex=-1 type="image/svg+xml" data="{{assets}}/img/thick-asterisk-alone.svg" id="asterisk-design-element"
    aria-hidden="true">*</object>
  {{!-- <iframe tabindex='-1' id='home-sketch-frame' src='{{assets}}/p5_featured/KD_2020_08_08_22_21_27/'></iframe> --}}
</div> <!-- end home-page -->