---
title: home
slug: /
---
<div id="home-page">
  <div class="column-span">
    <main id="home">
      <h1>George Floyd</h1>
      <p>
        Natosha McDade, Yassin Mohamed, Finan H. Berhe, Sean Reed, Steven Demarco Taylor, Breonna Taylor, Ariane McCree, Terrance Franklin, Miles Hall, Darius Tarver, William Green, Samuel David Mallard, Kwame Jones, De’von Bailey, Christopher Whitfield, Anthony Hill, De’Von Bailey, Eric Logan, Jamarion Robinson, Gregory Hill Jr, JaQuavion Slaton, Ryan Twyman, Brandon Webber, Jimmy Atchison, Willie McCoy, Emantic Fitzgerald Bradford J, D’ettrick Griffin, Jemel Roberson, DeAndre Ballard, Botham Shem Jean, Robert Lawrence White, Anthony Lamar Smith, Ramarley Graham, Manuel Loggins Jr, Trayvon Martin, Wendell Allen, Kendrec McDade, Larry Jackson Jr, Jonathan Ferrell, Jordan Baker, Victor White III, Dontre Hamilton, Eric Garner, John Crawford III, Michael Brown, Ezell Ford, Dante Parker, Kajieme Powell, Laquan McDonald, Akai Gurley, Tamir Rice, Rumain Brisbon, Jerame Reid, Charly Keunang, Tony Robinson, Walter Scott, Freddie Gray, Brendon Glenn, Samuel DuBose, Christian Taylor, Jamar Clark, Mario Woods, Quintonio LeGrier, Gregory Gunn, Akiel Denkins, Alton Sterling, Philando Castile, Terrence Sterling, Terence Crutcher, Keith Lamont Scott, Alfred Olango, Jordan Edwards, Stephon Clark, Danny Ray Thomas, DeJuan Guillory, Patrick Harmon, Jonathan Hart, Maurice Granton, Julius Johnson, Jamee Johnson, Michael Dean,
        {{#i18n "blmnamelistending"}}{{/i18n}}
      </p>
      <p>
        {{#i18n "blmstatement1"}}{{/i18n}}<a href="/reference/">{{#i18n "Reference"}}{{/i18n}}</a> {{#i18n "blmstatement2"}}{{/i18n}}
      </p>
      <p>
        {{#i18n "blmstatement3"}}{{/i18n}} <a href="https://blacklivesmatter.com/">{{#i18n "blacklivesmatter"}}{{/i18n}}</a>, <a href="https://www.naacpldf.org">{{#i18n "naacp"}}{{/i18n}}</a>, <a href="https://eji.org">{{#i18n "equaljustice"}}{{/i18n}}</a>, <a href="https://www.wetheprotesters.org">{{#i18n "wetheprotesters"}}{{/i18n}}</a>,  {{#i18n "footer3"}}{{/i18n}} <a href="https://www.gofundme.com/f/georgefloyd">{{#i18n "floydmemorial"}}{{/i18n}}</a>.
      </p>
    </main>
  </div> <!-- end column-span -->
</div> <!-- end home-page -->
