---
language: 'en'
title: index
---
<div id = "home-page">
  <div id = "container">
    {{>i18n-en}}
    {{>logo}}
<div class="column-span">
<nav class="navbar row">
<ul class="menu nav nav-pills">
      <li id="first-li"><a href="blog.html">{{#i18n "Download"}}{{/i18n}}</a></li>
      <li><object width="0" height="0" type="image/svg+xml" data="assets/img/thick-asterisk-alone.svg" id="separator-design-element">*</object></li>
      <li><a href="/get-started/">{{#i18n "Start"}}{{/i18n}}</a></li>
      <li><object width="0" height="0" type="image/svg+xml" data="assets/img/thick-asterisk-alone.svg" id="separator-design-element">*</object></li>
      <li><a href="#">{{#i18n "Reference"}}{{/i18n}}</a></li>
      <li><object width="0" height="0" type="image/svg+xml" data="assets/img/thick-asterisk-alone.svg" id="separator-design-element">*</object></li>
      <li><a href="/libraries/">{{#i18n "Libraries"}}{{/i18n}}</a></li>
      <li><object width="0" height="0" type="image/svg+xml" data="assets/img/thick-asterisk-alone.svg" id="separator-design-element">*</object></li>
      <li><a href="/tutorials/">{{#i18n "Learn"}}{{/i18n}}</a></li>
      <li><object width="0" height="0" type="image/svg+xml" data="assets/img/thick-asterisk-alone.svg" id="separator-design-element">*</object></li>
      <li><a href="/contribute/">{{#i18n "Contribute"}}{{/i18n}}</a></li>
</ul>
</nav>
  <section id="home">
  <p>
  <a href="http://hello.p5js.org">{{#i18n "hello"}}{{/i18n}}</a> {{#i18n "p1x1"}}{{/i18n}}<a href="http://processing.org">Processing</a>{{#i18n "p1x2"}}{{/i18n}} 
  </p>

   <p>
   {{#i18n "p2x1"}}{{/i18n}} <a href="libraries/">{{#i18n "libraries"}}{{/i18n}} </a>{{#i18n "p2x2"}}{{/i18n}} 
      <a href="http://hello.p5js.org">{{#i18n "interact"}}{{/i18n}} </a> {{#i18n "p2x3"}}{{/i18n}} </p>
  <p>
  {{#i18n "p3"}}{{/i18n}}
  </p>
  <p>
  {{> footer}}
  </section>
  </div>
</div>

<object type="image/svg+xml" data="assets/img/thick-asterisk-alone.svg" id="asterisk-design-element">
    *<!-- to do: add fallback image in CSS -->
  </object>
</div>
