---
title: home
slug: /
---
<div id="home-page">
  {{> sidebar}}

  <div class="column-span">
    <main id="home">

      <form id="search_form" style='pointer-events:all;' name="search" method="get" action="https://www.google.com/search">
        <input type="hidden" name="as_sitesearch" value="p5js.org" />
        <input id='search_field' type="text" size="20" />
        <label for="search_field"><input id="search_button" type="submit" value=" " name="Go"/></label>
      </form>
      
      <h1>{{#i18n "p1xh1"}}{{/i18n}}</h1>
      <p>{{#i18n "p1x1"}}{{/i18n}}</p>
      <p>{{#i18n "p1x2"}}{{/i18n}}</p>

      <h1>{{#i18n "p2xh1"}}{{/i18n}}</h1>
      <p>{{#i18n "p2x1"}}{{/i18n}}</p>
      <p>{{#i18n "p2x2"}}{{/i18n}}<a href="https://processing.org" target="_blank">Processing</a>{{#i18n "p2x3"}}{{/i18n}}<a href="https://processingfoundation.org" target="_blank">Processing Foundation</a>{{#i18n "p2x4"}}{{/i18n}}</p>
      <p>{{#i18n "p2x5"}}{{/i18n}}<a href="community/">{{#i18n "p2x6"}}{{/i18n}}</a>{{#i18n "p2x7"}}{{/i18n}}</p>

      <h1>{{#i18n "p3xh1"}}{{/i18n}}</h1>
      <p>{{#i18n "p3xp1"}}{{/i18n}}<a href="https://editor.p5js.org" target="_blank">p5.js Editor</a>{{#i18n "p3xp2"}}{{/i18n}}<a href="get-started/">{{#i18n "p3xp3"}}{{/i18n}}</a>{{#i18n "p3xp4"}}{{/i18n}}<a href="reference/">{{#i18n "p3xp5"}}{{/i18n}}</a>{{#i18n "p3xp6"}}{{/i18n}}</p>

      <h1>{{#i18n "p4xh1"}}{{/i18n}}</h1>
      <p>{{#i18n "p4xp1"}}{{/i18n}}</p>
      <h2 id="involvement-options" class="sr-only">{{#i18n "p4xp2"}}{{/i18n}}</h2>
      <ul aria-labelledby="involvement-options">
        <li>{{#i18n "p4xp3"}}{{/i18n}}</li>
        <li>{{#i18n "p4xp4"}}{{/i18n}}</li>
        <li><a href="https://day.processing.org" target="_blank">{{#i18n "p4xp5"}}{{/i18n}}</a></li>
        <li><a href="https://github.com/processing/p5.js/tree/master/developer_docs" target="_blank">{{#i18n "p4xp6"}}{{/i18n}}</a></li>
      </ul>

    </main>
    {{> footer}}
  </div> <!-- end column-span -->

<!--   <div id="credits" tabindex='-1'>
    {{#i18n "sketch_info"}}{{/i18n}}<br>
    <a href='http://ccfest.rocks/' target="_blank">{{#i18n "sketch_info_link"}}{{/i18n}}</a>
    <br>
  </div> -->

  <p class="clearfix">&nbsp;</p>

  <object type="image/svg+xml" data="{{assets}}/img/thick-asterisk-alone.svg" id="asterisk-design-element" aria-hidden="true">*</object>
  <!-- <iframe tabindex='-1' id='home-sketch-frame' src='{{assets}}/p5_featured/Grace_Obergfell/'></iframe> -->
</div> <!-- end home-page -->
