
<!-- outside of column for footer to go across both -->

<p class="clearfix"> &nbsp; </p>

<object type="image/svg+xml" data="{{assets}}/img/thick-asterisk-alone.svg" id="asterisk-design-element" aria-hidden="true">
</object>
