---
title: footer
---
<!-- Fixed footer -->

<footer class = "footer"> 
  <div> 
    <p> p5.js is developed by a community of collaborators, with support from the <a href="http://processing.org/foundation/"> Processing Foundation</a> and <a href="http://itp.nyu.edu/itp/">NYU ITP</a>. Updated July 1, 2015. </p>
  </div> 
</footer>