---
title: footer
---
<footer>
  <p> {{#i18n "footer1"}}{{/i18n}}<a href='http://lauren-mccarthy.com' target="_blank">Lauren McCarthy</a>{{#i18n "footer2"}}{{/i18n}}<a href="http://processing.org/foundation/" target="_blank">Processing Foundation</a> {{#i18n "footer3"}}{{/i18n}}
  <a href="http://itp.nyu.edu/itp/" target="_blank">NYU ITP</a>. {{#i18n "footer4"}}{{/i18n}}<a href="http://jereljohnson.com/" target="_blank">Jerel Johnson</a>. <a href="{{root}}/copyright.html">&copy; Info.</a></p>
</footer>
