---
title: footer
---
<footer>
  <p>p5.js was created by <a href='http://lauren-mccarthy.com' target="_blank">Lauren McCarthy</a> and is developed by a community of collaborators, 
  with support from the <a href="http://processing.org/foundation/" target="_blank">Processing Foundation</a> 
  and <a href="http://itp.nyu.edu/itp/" target="_blank">NYU ITP</a>. 
  <a href="http://p5js.org/copyright.php">&copy; Info.</a></p>
</footer>
