---
title: footer
---
<footer>
  <h2 class="sr-only">{{#i18n "footerxh1"}}{{/i18n}}</h2>
  <p> {{#i18n "footer1"}}{{/i18n}}<a href='https://github.com/mcturner1995' target="_blank">Moira
      Turner</a>{{#i18n "footer2"}}{{/i18n}}<a href='http://lauren-mccarthy.com' target="_blank">Lauren Lee
      McCarthy</a>{{#i18n "footer3"}}{{/i18n}}<a href="http://processing.org/foundation/" target="_blank">Processing
      Foundation</a> {{#i18n "footer4"}}{{/i18n}}
    <a href="http://itp.nyu.edu/itp/" target="_blank">NYU ITP</a>. {{#i18n "footer5"}}{{/i18n}}<a
      href="http://jereljohnson.com/" target="_blank">Jerel Johnson</a>. <a href="{{root}}/copyright.html">&copy;
      Info.</a></p>
</footer>