---
title: footer
---
<footer>
  <p> {{#i18n "footer1"}}{{/i18n}}<a href='http://lauren-mccarthy.com' target="_blank">Lauren McCarthy</a>{{#i18n "footer2"}}{{/i18n}}<a href="http://processing.org/foundation/" target="_blank">Processing Foundation</a> {{#i18n "footer3"}}{{/i18n}}
  <a href="http://itp.nyu.edu/itp/" target="_blank">NYU ITP</a>.
  <a href="http://p5js.org/copyright.php">&copy; Info.</a></p>
</footer>
