---
title: footer
---
<footer>
  <h2 class="sr-only">{{#i18n "footerxh1"}}{{/i18n}}</h2>
  <p>
    {{#i18n "footer1"}}{{/i18n}}<a href='http://qianqian-ye.com/' target="_blank">Qianqian Ye</a>{{#i18n "footer2"}}{{/i18n}}<a href='http://www.outofambit.com/' target="_blank">evelyn masso</a>{{#i18n "footer3"}}{{/i18n}}<a href='https://lauren-mccarthy.com' target="_blank">Lauren Lee McCarthy</a>{{#i18n "footer4"}}{{/i18n}}<a href="https://processingfoundation.org/" target="_blank">Processing Foundation</a>{{#i18n "footer5"}}{{/i18n}}<a href="https://itp.nyu.edu/itp/" target="_blank">NYU ITP</a>{{#i18n "footer6"}}{{/i18n}}<a href="https://jereljohnson.com/" target="_blank">Jerel Johnson</a>{{#i18n "footer7"}}{{/i18n}}<a href="{{root}}/copyright.html">&copy; {{#i18n "footer8"}}{{/i18n}}</a>{{#i18n "footer9"}}{{/i18n}}
  </p>
</footer>
