---
title: header
---
<!-- fixed header at the top-->
<div class="nav" id="family">
  <div class="container">
    <div>
      <ul class="nav navbar-nav">
        <li>
          <a href="http://processing.org">Processing</a>
        </li>
        <li>
          <a href="http://p5js.org" class="here">p5.js</a>
        </li>
        <li>
          <a href="http://py.processing.org/">Processing.py</a>
        </li>
      </ul>
  <div class="nav navbar-nav right">
    <!-- <form name="search" method="get" action="http://www.google.com/search">
    <input type="hidden" name="as_sitesearch" value="p5js.org" />
    <input id="search_field" type="text" name="as_q" value="" size="20" class="text" />
    <input id="search_button" type="submit" value=" " />   </form> -->
      <ul class="nav navbar-nav">
        <li>
          <a href="http://foundation.processing.org" class="dropdown-toggle" data-toggle="dropdown">Processing Foundation</a>
        </li>
      </ul>
  </div>
    </div><!--/.nav-collapse -->
  </div>
</div>
