---
title: header
---

<div id="family">
  <p class="left"><a href="http://processing.org">Processing</a>
     <a class="here" href="{{root}}/">p5.js</a>
     <a href="http://py.processing.org/">Processing.py</a>
     <a href="http://android.processing.org/">Processing for Android</a>
  </p>
  <form style='pointer-events:all;' name="search" method="get" action="https://www.google.com/search">
    <input type="hidden" name="as_sitesearch" value="p5js.org" />
    <input id="search_field" type="text" name="as_q" value="" size="20" class="text" />
    <input id="search_button" type="submit" value=" " />
  </form>
  <p class="right">
    <a href="https://processingfoundation.org/">Processing Foundation</a>
  </p>
</div>

<div id="container">
<!-- identity -->
<div id="lockup">
  <a href="{{root}}/">
  <img type="image/svg+xml" src="{{assets}}/img/p5js-beta.svg" id="logo_image" class="logo" />
  <div id="p5_logo"></div>
  </a>
</div>
