---
title: language buttons
---
<!-- p5*js language buttons -->
  <div class="i18n-btn">
      <a href="../" class="no-underline"><button onClick="toEn()" class="btn disabled" id="en-btn"> english</button></a>
      <a href="es/" class="no-underline"> <button onClick="toEs()" class="btn active" id="es-btn">espanol</button></a>
  </div>