---
titne: language buttons
---
<!-- p5*js language buttons -->
<div id="i18n-btn">
  <h2 id="i18n-settings" class="sr-only">{{#i18n "Language-Settings"}}{{/i18n}}</h2>
  <ul id="i18n-buttons" aria-labelledby="i18n-settings">
    <li><a href='#' lang='en' data-lang='en'>English</a></li>
    <li><a href='#' lang='es' data-lang='es'>Español</a></li>
    <li><a href='#' lang='zh-Hans' data-lang='zh-Hans'>简体中文</a></li>
    <li><a href='#' lang='ko' data-lang='ko'>한국어</a></li>
  </ul>
</div>