---
title: language buttons
---
<!-- p5*js language buttons -->
  <div class="i18n-btn">
      <a href="../"><button onClick="toEn()" class="btn active" id="en-btn"> english</button></a>
      <a href="es/"> <button onClick="toEs()" class="btn disabled" id="es-btn">espanol</button></a>
  </div>