---
title: language buttons
---
<!-- p5*js language buttons -->
<div id="i18n-btn">
  <h1 class='visuallyhidden'>Language Settings</h1>
  <button data-lang='en'>EN</button>
  <button data-lang='es'>ES</button>
  <button data-lang='zh-Hans' style='display:none'>简体中文</button>
</div>