---
title: language buttons
---
<!-- p5*js language buttons -->
<div id="i18n-btn">
  <h2 id="i18n-settings" class="sr-only">{{#i18n "Language-Settings"}}{{/i18n}}</h2>
  <ul id="i18n-buttons" aria-labelledby="i18n-settings">
    <li><button lang='en' data-lang='en'>English</button></li>
    <li><button lang='es' data-lang='es'>Español</button></li>
    <li><button lang='zh-Hans' data-lang='zh-Hans'>简体中文</button></li>
  </ul>
</div>