---
title: examples
slug: examples/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section>
  
      <p id="backlink"><a href="./#examples">< Back to Examples</a></p>
      <h2>True and False</h2>
      <p>A Boolean variable has only two possible values: true or false. 
 It is common to use Booleans with control statements to determine the flow 
 of a program. In this example, when the boolean value "x" is true, vertical 
 black lines are drawn and when the boolean value "x" is false, horizontal 
 gray lines are drawn.
 </p>

      <div id="exampleDisplay">
        <iframe id="exampleFrame" src="{{assets}}/examples/example.html" ></iframe>
        <div class="edit_space">
          <button id="runButton" class="edit_button">run</button>
          <button id="resetButton" class="reset_button">reset</button>
        </div>
        <div id="exampleEditor"></div>
      </div>

      <p><a style="border-bottom:none !important;" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target=_blank><img src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" style="width:88px"/></a></p>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

  <script src="{{assets}}/js/vendor/ace-nc/ace.js"></script>
  <script src="{{assets}}/js/examples.js"></script>
  <script>
    $(document).ready( function () {
        examples.init('{{assets}}/examples/examples_src/02_Data/01_True_and_False.js');
    });
  </script>

</div><!-- end id="get-started-page"  -->