---
title: examples
slug: examples/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section>
  
      <p id="backlink"><a href="./#examples">< Back to Examples</a></p>
      <h2>Redraw</h2>
      <p>The redraw() function makes draw() execute once. In this example,
 *draw() is executed once every time the mouse is clicked.
</p>

      <div id="exampleDisplay">
        <iframe id="exampleFrame" src="{{assets}}/examples/example.html" ></iframe>
        <div class="edit_space">
          <button id="runButton" class="edit_button">run</button>
          <button id="resetButton" class="reset_button">reset</button>
        </div>
        <div id="exampleEditor"></div>
      </div>

      <p><a style="border-bottom:none !important;" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target=_blank><img src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" style="width:88px"/></a></p>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

  <script src="{{assets}}/js/vendor/ace-nc/ace.js"></script>
  <script src="{{assets}}/js/examples.js"></script>
  <script>
    $(document).ready( function () {
        examples.init('{{assets}}/examples/examples_src/00_Structure/05_Redraw.js');
    });
  </script>

</div><!-- end id="get-started-page"  -->