---
title: community
slug: community/
---

<div id="community-page">

  {{> sidebar}}

  <div class="column-span">

    <section id="content" role="region" label="main content">
      <h1>{{#i18n "community-title"}}{{/i18n}}</h1>
      <br>
      <div class="community-statement">
        <h2 class="community-title">{{#i18n "community-statement-title"}}{{/i18n}} </h2>
        <br>
        <p>{{#i18n "community-statement1"}}{{/i18n}}
        </p>

        <p>{{#i18n "community-statement2"}}{{/i18n}}
        </p>

        <p>{{#i18n "community-statement3"}}{{/i18n}}
        </p>

        <h4>{{#i18n "in-practice-title"}}{{/i18n}}</h4>
        <ul class="statement-list bullets">
          <li>{{#i18n "in-practice1"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice2"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice3"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice4"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice5"}}{{/i18n}} </li>
        </ul>

        <h4>{{#i18n "in-times-conflict-title"}}{{/i18n}}</h4>
        <ul class="statement-list bullets">
          <li>{{#i18n "in-times-conflict1"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict2"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict3"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict4"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict5"}}{{/i18n}} </li>
          <li>{{#i18n "in-times-conflict6"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict7"}}{{/i18n}}</li>
        </ul>

        <h4>{{#i18n "in-the-future-title"}}{{/i18n}}</h4>
        <ul class="statement-list bullets">
          <li>{{#i18n "in-the-future1"}}{{/i18n}}</li>
        </ul>
      </div>

      <h2>{{#i18n "contribute-title"}}{{/i18n}}</h2>
      <p>{{#i18n "contribute1"}}{{/i18n}}</p>

      <p><b>{{#i18n "develop-title"}}{{/i18n}}</b> <a href="https://github.com/processing/p5.js" target="blank_">{{#i18n "develop1"}}{{/i18n}}</a>{{#i18n "develop2"}}{{/i18n}} <a href="https://github.com/processing/p5.js/wiki/Development" target="blank_">{{#i18n "develop3"}}{{/i18n}} </a> {{#i18n "develop4"}}{{/i18n}} <a href="../libraries/#create-your-own"> {{#i18n "develop5"}}{{/i18n}} </a></p>

      <p><b>{{#i18n "document-title"}}{{/i18n}}</b>{{#i18n "document1"}}{{/i18n}}<a href="https://github.com/lmccart/p5js.org/wiki/Adding-examples" target="blank_">{{#i18n "document2"}}{{/i18n}}</a>{{#i18n "document3"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Inline-documentation" target="blank_">{{#i18n "document4"}}{{/i18n}}</a>{{#i18n "document5"}}{{/i18n}}</p>

      <p><b>{{#i18n "teach-title"}}{{/i18n}}</b>{{#i18n "teach1"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Education" target="blank_">{{#i18n "teach2"}}{{/i18n}}</a>{{#i18n "teach3"}}{{/i18n}}</p>

      <p><b>{{#i18n "create-title"}}{{/i18n}}</b>{{#i18n "create1"}}{{/i18n}}<a href="mailto:feature@p5js.org">{{#i18n "create2"}}{{/i18n}}</a>{{#i18n "create3"}}{{/i18n}}</p>

      <p><b>{{#i18n "donate-title"}}{{/i18n}}</b>{{#i18n "donate1"}}{{/i18n}}<a href="https://processingfoundation.org/support">{{#i18n "donate2"}}{{/i18n}}</a>{{#i18n "donate3"}}{{/i18n}}</p>


      <h2>{{#i18n "contributors-conference-title"}}{{/i18n}}</h2>
      <p>{{#i18n "contributors-conference1"}}{{/i18n}}<a href="{{root}}/contributors-conference">{{#i18n "contributors-conference2"}}{{/i18n}}</a>{{#i18n "contributors-conference3"}}{{/i18n}}<a href="http://studioforcreativeinquiry.org/">{{#i18n "contributors-conference4"}}{{/i18n}}</a>{{#i18n "contributors-conference5"}}{{/i18n}}
      </p>

      <object width="720" height="480" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"> <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F80913365%40N04%2Fsets%2F72157653238862069%2Fshow&amp;page_show_back_url=%2Fphotos%2F80913365%40N04%2Fsets%2F72157653238862069%2F&amp;user_id=80913365@N04&amp;set_id=72157653238862069" /> <param name="allowFullScreen" value="true" /> <param name="src" value="https://www.flickr.com/apps/slideshow/show.swf?v=71649" /> <embed width="720" height="480" type="application/x-shockwave-flash" src="https://www.flickr.com/apps/slideshow/show.swf?v=71649" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F80913365%40N04%2Fsets%2F72157653238862069%2Fshow&amp;page_show_back_url=%2Fphotos%2F80913365%40N04%2Fsets%2F72157653238862069%2F&amp;user_id=80913365@N04&amp;set_id=72157653238862069" allowFullScreen="true" /> </object>


      <h2>Mailing List</h2>
      <div class="email-octopus-form-wrapper">
        <p class="email-octopus-success-message"></p>
        <p class="email-octopus-error-message"></p>
        <form method="post" action="https://emailoctopus.com/lists/537b6ec8-d123-11e6-8561-06ead731d453/members/external-add" class="email-octopus-form">
          <p>Enter your email address to receive occasional updates from the Processing Foundation.</p>
          <div class="email-octopus-form-row">
            <input type="email" name="emailAddress" placeholder="email address" class="email-octopus-email-address">
          </div>
          <div class="email-octopus-form-row-hp" aria-hidden="true">
            <input type="text" name="hp537b6ec8-d123-11e6-8561-06ead731d453" tabindex="-1">
          </div>
          <div class="email-octopus-form-row-subscribe">
            <input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="">
            <button type="submit">subscribe</button>
          </div>
        </form>
      </div>
      <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/formEmbed.js"></script>
      <style>
        .email-octopus-email-address {
          color:#ED225D;
          text-decoration: none;
          padding-bottom: 0.11em;
          outline: none;
          border: none;
          border-bottom: 0.11em dashed;
          border-bottom-color: #ED225D;
          transition: border-bottom 30ms linear;
          width: 20em;
        }
        .email-octopus-form-row-subscribe button, .email-octopus-form-row-hp {
          position: absolute;
          left: -5000px;
        }
        .email-octopus-email-address::-webkit-input-placeholder { color:#ABABAB; }
        .email-octopus-email-address::-moz-placeholder { color:#ABABAB; }
        .email-octopus-email-address:-moz-placeholder { color:#ABABAB; }
        .email-octopus-email-address:-ms-input-placeholder { color:#ABABAB; }
      </style>
    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
