---
title: community
slug: community/
---

<div id="community-page">

  {{> sidebar}}

  <div class="column-span">
    <main id="content">
      <h1>{{#i18n "community-title"}}{{/i18n}}</h1>
      <div class="community-statement">
        <h2 class="community-title">{{#i18n "community-statement-title"}}{{/i18n}} </h2>
        <p>{{#i18n "community-statement1"}}{{/i18n}}
        </p>

        <p>{{#i18n "community-statement2"}}{{/i18n}}
        </p>

        <p>{{#i18n "community-statement3"}}{{/i18n}}
        </p>

        <h3 id="in-practice">{{#i18n "in-practice-title"}}{{/i18n}}</h3>
        <ul aria-labelledby="in-practice" class="bullets list_view">
          <li>{{#i18n "in-practice1"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice2"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice3"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice4"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice5"}}{{/i18n}} </li>
        </ul>

        <h3 id="in-conflict">{{#i18n "in-times-conflict-title"}}{{/i18n}}</h3>
        <ul aria-labelledby="in-conflict" class="bullets list_view">
          <li>{{#i18n "in-times-conflict1"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict2"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict3"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict4"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict5"}}{{/i18n}} </li>
          <li>{{#i18n "in-times-conflict6"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict7"}}{{/i18n}}</li>
        </ul>

        <h3 id="in-future">{{#i18n "in-the-future-title"}}{{/i18n}}</h3>
        <ul aria-labelledby="in-future" class="bullets list_view">
          <li>{{#i18n "in-the-future1"}}{{/i18n}}</li>
        </ul>
        <br>
        <h3 id="notes" class='sr-only'>{{#i18n "notes-title"}}{{/i18n}}</h3>
        <p>{{#i18n "notes1"}}{{/i18n}} <a href="https://github.com/processing/p5.js/blob/main/CODE_OF_CONDUCT.md#p5js-code-of-conduct">{{#i18n "notes2"}}{{/i18n}}</a>{{#i18n "notes3"}}{{/i18n}}<a href="https://creativecommons.org/licenses/by-sa/4.0/">{{#i18n "notes4"}}{{/i18n}}</a>{{#i18n "notes5"}}{{/i18n}}</p>
      </div>

      <h2 id="contribute">{{#i18n "contribute-title"}}{{/i18n}}</h2>
      <p>{{#i18n "contribute1"}}{{/i18n}}</p>

      <p><b>{{#i18n "develop-title"}}{{/i18n}}</b> <a href="https://github.com/processing/p5.js" target="blank_">{{#i18n "develop1"}}{{/i18n}}</a>{{#i18n "develop2"}}{{/i18n}} <a href="https://p5js.org/contributor-docs" target="blank_">{{#i18n "develop3"}}{{/i18n}} </a> {{#i18n "develop4"}}{{/i18n}} <a href="../libraries/#create-your-own"> {{#i18n "develop5"}}{{/i18n}} </a></p>

      <p><b>{{#i18n "document-title"}}{{/i18n}}</b>{{#i18n "document1"}}{{/i18n}}<a href="https://github.com/processing/p5.js-website/blob/main/contributor_docs/Adding_examples.md" target="blank_">{{#i18n "document2"}}{{/i18n}}</a>{{#i18n "document3"}}{{/i18n}}<a href="https://p5js.org/contributor-docs/#/inline_documentation" target="blank_">{{#i18n "document4"}}{{/i18n}}</a>{{#i18n "document5"}}{{/i18n}}</p>

      <p><b>{{#i18n "teach-title"}}{{/i18n}}</b>{{#i18n "teach1"}}{{/i18n}}</p>

      <p><b>{{#i18n "create-title"}}{{/i18n}}</b>{{#i18n "create1"}}{{/i18n}}<a href="mailto:hello@p5js.org">{{#i18n "create2"}}{{/i18n}}</a>{{#i18n "create3"}}{{/i18n}}</p>

      <p><b>{{#i18n "donate-title"}}{{/i18n}}</b>{{#i18n "donate1"}}{{/i18n}}<a href="https://processingfoundation.org/support">{{#i18n "donate2"}}{{/i18n}}</a>{{#i18n "donate3"}}{{/i18n}}</p>


      <h2>{{#i18n "contributors-conference-title"}}{{/i18n}}</h2>
      <p>{{#i18n "contributors-conference1"}}{{/i18n}}<a href="http://studioforcreativeinquiry.org">Frank-Ratchye STUDIO for Creative Inquiry</a> {{#i18n "contributors-conference2"}}{{/i18n}}
      </p>
      <h2 id="conferences" class="sr-only">Past Conferences</h2>
      <ul aria-labelledby="conferences" class="list_view bullets">
        <li><a href="contributors-conference-2019.html">{{#i18n "2019contributors-conference-title"}}{{/i18n}}</a></li>
        <li><a href="contributors-conference-2015.html">{{#i18n "2015contributors-conference-title"}}{{/i18n}}</a></li>
      </ul>

      <img src="{{assets}}/img/community/2015_12.jpg" alt='{{#i18n "2015cc_12"}}{{/i18n}}"'/>

      <h2>{{#i18n "mailing-list-title"}}{{/i18n}}</h2>
      <div class="email-octopus-form-wrapper">
        <p class="email-octopus-success-message"></p>
        <p class="email-octopus-error-message"></p>
        <form method="post" action="https://emailoctopus.com/lists/537b6ec8-d123-11e6-8561-06ead731d453/members/external-add" class="email-octopus-form">
          <p>{{#i18n "mailing-list-1"}}{{/i18n}}</p>
          <div class="email-octopus-form-row">
            <input type="email" name="emailAddress" placeholder="email" class="email-octopus-email-address">
            <button type="submit">subscribe</button>
          </div>
          <div class="email-octopus-form-row-hp" aria-hidden="true">
            <input type="text" name="hp537b6ec8-d123-11e6-8561-06ead731d453" tabindex="-1">
          </div>
          <div class="email-octopus-form-row-subscribe">
            <input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="">
          </div>
        </form>
      </div>
      <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/formEmbed.js"></script>
      <br><br>
    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
