---
title: community
slug: community/
---

<div id="community-page">

  {{> sidebar}}

  <div class="column-span">

    <section>
      <h1>{{#i18n "community-title"}}{{/i18n}}</h1>
      <br>
      <div class="community-statement">
        <h2 class="community-title">{{#i18n "community-statement-title"}}{{/i18n}} </h2>
        <br>
        <p>{{#i18n "community-statement1"}}{{/i18n}}
        </p>

        <p>{{#i18n "community-statement2"}}{{/i18n}}
        </p>

        <p>{{#i18n "community-statement3"}}{{/i18n}}
        </p>

        <h4>{{#i18n "in-practice-title"}}{{/i18n}}</h4>
        <ul class="statement-list bullets">
          <li>{{#i18n "in-practice1"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice2"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice3"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice4"}}{{/i18n}} </li>
          <li>{{#i18n "in-practice5"}}{{/i18n}} </li>
        </ul>

        <h4>{{#i18n "in-times-conflict-title"}}{{/i18n}}</h4>
        <ul class="statement-list bullets">
          <li>{{#i18n "in-times-conflict1"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict2"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict3"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict4"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict5"}}{{/i18n}} </li>
          <li>{{#i18n "in-times-conflict6"}}{{/i18n}}</li>
          <li>{{#i18n "in-times-conflict7"}}{{/i18n}}</li>
        </ul>

        <h4>{{#i18n "in-the-future-title"}}{{/i18n}}</h4>
        <ul class="statement-list bullets">
          <li>{{#i18n "in-the-future1"}}{{/i18n}}</li>
        </ul>
      </div>

      <h2>{{#i18n "contribute-title"}}{{/i18n}}</h2>
      <p>{{#i18n "contribute1"}}{{/i18n}}</p>

      <p><b>{{#i18n "develop-title"}}{{/i18n}}</b> <a href="https://github.com/processing/p5.js" target="blank_">{{#i18n "develop1"}}{{/i18n}}</a>{{#i18n "develop2"}}{{/i18n}} <a href="https://github.com/processing/p5.js/wiki/Development" target="blank_">{{#i18n "develop3"}}{{/i18n}} </a> {{#i18n "develop4"}}{{/i18n}} <a href="../libraries/#create-your-own"> {{#i18n "develop5"}}{{/i18n}} </a></p>

      <p><b>{{#i18n "document-title"}}{{/i18n}}</b>{{#i18n "document1"}}{{/i18n}}<a href="https://github.com/lmccart/p5js.org/wiki/Adding-examples" target="blank_">{{#i18n "document2"}}{{/i18n}}</a>{{#i18n "document3"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Inline-documentation" target="blank_">{{#i18n "document4"}}{{/i18n}}</a>{{#i18n "document5"}}{{/i18n}}</p>

      <p><b>{{#i18n "teach-title"}}{{/i18n}}</b>{{#i18n "teach1"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Education" target="blank_">{{#i18n "teach2"}}{{/i18n}}</a>{{#i18n "teach3"}}{{/i18n}}</p>

      <p><b>{{#i18n "create-title"}}{{/i18n}}</b>{{#i18n "create1"}}{{/i18n}}<a href="mailto:feature@p5js.org">{{#i18n "create2"}}{{/i18n}}</a>{{#i18n "create3"}}{{/i18n}}</p>

      <p><b>{{#i18n "donate-title"}}{{/i18n}}</b>{{#i18n "donate1"}}{{/i18n}}<a href="https://processingfoundation.org/support">{{#i18n "donate2"}}{{/i18n}}</a>{{#i18n "donate3"}}{{/i18n}}</p>

      <h2>{{#i18n "contributors-conference-title"}}{{/i18n}}</h2>
      <p>{{#i18n "contributors-conference1"}}{{/i18n}}<a href="{{root}}/contributors-conference">{{#i18n "contributors-conference2"}}{{/i18n}}</a>{{#i18n "contributors-conference3"}}{{/i18n}}<a href="http://studioforcreativeinquiry.org/">{{#i18n "contributors-conference4"}}{{/i18n}}</a>{{#i18n "contributors-conference5"}}{{/i18n}}
      </p>

      <div style='position: relative; margin-top: -30px; margin-bottom: 20px; padding-bottom: 76%; height: 0; overflow: hidden;'><iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height=75&size=big&count=50&setId=72157653238862069&trans=1&theme=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>


    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
