---
title: community
slug: community/
---

<div id="community-page">

    {{> sidebar}}

    <div class="column-span">

        <main id="content">
            <h1>{{#i18n "2022-p5js-access-day-title"}}{{/i18n}}</h1>


            <div class="contributors-subsection">
                <h2>{{#i18n "2022-p5js-access-day-date"}}{{/i18n}}</h2>

                <p>{{#i18n "2022-p5js-access-day-description"}}{{/i18n}}
                </p>

                <p>{{#i18n "2022-p5js-access-day-organizer"}}{{/i18n}}<a href='https://qianqian-ye.com/' target=_blank> Qianqian Ye</a>
                </p>

                <p>{{#i18n "2022-p5js-access-day-coordinator"}}{{/i18n}}<a href='https://www.instagram.com/prod.ka/' target=_blank> Karen Abe</a>
                </p>

            </div>

            <div class="contributors-subsection">
                <h2>{{#i18n "2022-p5js-access-day-recap-video"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/WBDaBRH-_YA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <h2>{{#i18n "2022-p5js-access-day-recap-video-asl"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/xJi3ATgbuGQ" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>


            <div class="contributors-subsection">
                <h2>{{#i18n "2022-p5js-access-day-session-0"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/H-8KE7WKbC4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


                <h2>{{#i18n "2022-p5js-access-day-session-1"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/8IwJc3jnRuw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p>{{#i18n "2022-p5js-access-day-moderator"}}{{/i18n}}
                    <a href='http://www.katehollenbach.com/' target='_blank'> Kate Hollenbach</a>,
                </p>

                <p>{{#i18n "2022-p5js-access-day-speakers"}}{{/i18n}}
                    <a href='http://luismn.com/' target='_blank'> Luis Morales-Navarro</a>,
                    <a href='https://twitter.com/techandautism' target='_blank'>Jes Daigle</a>
                </p>

                <h2>{{#i18n "2022-p5js-access-day-session-2"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/OxgK6CCg8Lg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p>{{#i18n "2022-p5js-access-day-moderator"}}{{/i18n}}<a href='https://www.xiaoweiwang.com/' target='_blank'> Xiaowei R. Wang</a>,
                </p>

                <p>{{#i18n "2022-p5js-access-day-speakers"}}{{/i18n}}
                    <a href='https://www.instagram.com/crip_fantasy/' target='_blank'>Natalee Decker</a>,
                    <a href='https://www.linkedin.com/in/adekemisijuwade' target='_blank'>Kemi Sijuwade-Ukadike</a>,
                    <a href='https://kevingotkin.com/' target='_blank'>Kevin Gotkin</a>
                </p>

                <h2>{{#i18n "2022-p5js-access-day-session-3"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/v3sTLNZUl0c" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p>{{#i18n "2022-p5js-access-day-moderator"}}{{/i18n}}<a href='https://dorothysantos.com/' target='_blank'> Dorothy R. Santos</a>,
                </p>

                <p>{{#i18n "2022-p5js-access-day-speakers"}}{{/i18n}}
                    <a href='https://tinytechzines.org/' target='_blank'> Tiny Tech Zine</a>,
                    <a href='https://closeisnthome.com/' target='_blank'>Close Isn’t Home</a>,
                    <a href='https://zai.zone/' target='_blank'>Zainab Aliyu</a>
                </p>

                <h2>{{#i18n "2022-p5js-access-day-session-4"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/h3HhhH5hokM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p>{{#i18n "2022-p5js-access-day-moderator"}}{{/i18n}}<a href='https://limzykenneth.com/' target='_blank'> Kenneth Lim</a>,
                </p>

                <p>{{#i18n "2022-p5js-access-day-speakers"}}{{/i18n}}
                    <a href='https://yinhwa.art/' target='_blank'> Inhwa Yeom</a>,
                    <a href='https://shaharyarshamshi.xyz/' target='_blank'>Shaharyar Shamshi</a>,
                    <a href='https://felipesg.cargo.site/' target='_blank'>Felipe Gomes</a>
                </p>

                <h2>{{#i18n "2022-p5js-access-day-session-5"}}{{/i18n}}</h2>
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/Qv9QUYiGnk8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>

            <div class="contributors-subsection">
                <h2>{{#i18n "2022-p5js-access-day-production"}}{{/i18n}}</h2>
                <ul class='list_view bullets'>
                    <li>
                        {{#i18n "2022-p5js-access-day-advisor"}}{{/i18n}}:
                        <a href='http://www.katehollenbach.com/' target='_blank'>Kate Hollenbach</a>,
                        <a href='http://www.takinglifeseriously.com/index.html' target='_blank'>Claire Kearney-Volpe</a>,
                        <a href='https://www.edsaber.info/' target='_blank'>Saber Khan</a>,
                        <a href='https://outofambit.format.com/' target='_blank'>evelyn masso</a>,
                        <a href='http://lauren-mccarthy.com/' target='_blank'>Lauren Lee McCarthy</a>,
                        <a href='https://dorothysantos.com/' target='_blank'>Dorothy R. Santos</a>,
                        <a href='https://www.xiaoweiwang.com/' target='_blank'> Xiaowei R. Wang</a>,
                        <a href='https://xin-xin.info' target='_blank'>Xin Xin</a>
                    </li>

                    <li>
                        {{#i18n "2022-p5js-access-day-asl"}}{{/i18n}}:
                        <a href='https://www.probonoasl.com/' target='_blank'>Pro Bono ASL</a>
                    </li>

                    <li>
                        {{#i18n "2022-p5js-access-day-designer"}}{{/i18n}}:
                        <a href='https://twitter.com/katiechaan' target='_blank'>Katie Chan</a>
                    </li>

                    <li>
                        {{#i18n "2022-p5js-access-day-tech-support"}}{{/i18n}}:
                        <a href='https://www.instagram.com/prod.ka/' target=_blank> Karen Abe</a>,
                        <a href='https://www.jayborgwardt.com/' target='_blank'>Jay Borgwardt</a>,
                        <a href='https://yuehaojiang.com/' target='_blank'>Yuehao Jiang</a>
                    </li>

                    <li>
                        {{#i18n "2022-p5js-access-day-transcriber"}}{{/i18n}}: Ju Hye Kim, Xiao Yi Wang-Beckval
                    </li>

                    <li>
                        {{#i18n "2022-p5js-access-day-asl-support"}}{{/i18n}}: <a href='https://www.instagram.com/claireewongg/' target='_blank'>Claire Wong</a>
                    </li>
                </ul>

            </div>

            <div class="contributors-subsection">
                <h2>{{#i18n "support-title"}}{{/i18n}}</h2>
                <p>{{#i18n "support3"}}{{/i18n}} <a href="https://foundation.mozilla.org/en/" target="_blank">Mozilla Foundation</a> Community Building Award,
                    {{#i18n "support4"}}{{/i18n}} <a href='https://processingfoundation.org/' target=_blank>Processing Foundation</a> and <a href='http://studioforcreativeinquiry.org' target=_blank>Frank-Ratchye STUDIO for Creative Inquiry</a>.
                    <br><b>{{#i18n "support6"}}{{/i18n}}</b>
                </p>

                <a class='nounderline' href='https://foundation.mozilla.org/' target=_blank><img style='width:20%' src='{{assets}}/img/community/mozilla-foundation.png' alt="" /></a>
                
                <a class='nounderline' href='http://studioforcreativeinquiry.org' target=_blank><img style='width:20%' src='{{assets}}/img/community/studio.png' alt="" /></a>

                <a class='nounderline' href='https://processingfoundation.org/' target=_blank><img style='width:14%' src='{{assets}}/img/community/processing-foundation.png' alt="" /></a>

                <p class="clearfix"> &nbsp;</p>
            </div>


        </main>

        {{> footer}}

    </div> <!-- end column-span -->

    {{> asterisk}}

</div><!-- end id="get-started-page"  -->
