---
title: tutorials
slug: tutorials/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section role="region" label="main content">

      <h1>{{#i18n "writing-a-tutorial-title"}}{{/i18n}}</h1>
      <div class="attribution">{{#i18n "writing-a-tutorial-title"}}{{/i18n}}
      </div>
        <p>{{#i18n "writing-a-tutorial-1"}}{{/i18n}}</p>
        <p>{{#i18n "writing-a-tutorial-2"}}{{/i18n}}</p>

<h2>{{#i18n "writing-a-tutorial-how-start-title"}}{{/i18n}}</h2>
<p>
  <ul>
<li>{{#i18n "writing-a-tutorial-how-start-1"}}{{/i18n}}<a href="https://docs.google.com/spreadsheets/d/1sh3IwcCUY4Bm8N4fRZw6CwSDdQmmXgY_awjVj-UC8mo/edit#gid=0">{{#i18n "writing-a-tutorial-how-start-2"}}{{/i18n}}</a> {{#i18n "writing-a-tutorial-how-start-3"}}{{/i18n}}</li>
<li>{{#i18n "writing-a-tutorial-how-start-4"}}{{/i18n}}</li>
<ul>
</p>
<h2>{{#i18n "writing-a-tutorial-how-prepare-title"}}{{/i18n}}</h2>
<p>{{#i18n "writing-a-tutorial-how-prepare-1"}}{{/i18n}}</p>
<p>{{#i18n "writing-a-tutorial-how-prepare-2"}}{{/i18n}}<a href="https://github.com/mayaman/p5js-website/blob/master/src/templates/pages/tutorials/test-tutorial.hbs">{{#i18n "writing-a-tutorial-how-prepare-3"}}{{/i18n}}</a>{{#i18n "writing-a-tutorial-how-prepare-4"}}{{/i18n}}</p>
<img src="{{assets}}/tutorials/tutorial-guide/images/screenshot-1.png" alt="Screenshot">

<p>{{#i18n "writing-a-tutorial-how-prepare-5"}}{{/i18n}}<a href="http://p5js.org/tutorials/">{{#i18n "writing-a-tutorial-how-prepare-6"}}{{/i18n}}</a>{{#i18n "writing-a-tutorial-how-prepare-7"}}{{/i18n}}</p>
<p>{{#i18n "writing-a-tutorial-how-prepare-8"}}{{/i18n}}</br>
  &lt;section role="region" label="main content"&gt; &lt;/section&gt; </br>
  {{#i18n "writing-a-tutorial-how-prepare-9"}}{{/i18n}}<a href="https://github.com/processing/p5.js-website/blob/master/src/templates/pages/tutorials/test-tutorial.hbs">{{#i18n "writing-a-tutorial-how-prepare-10"}}{{/i18n}}</a></p>
<p>{{#i18n "writing-a-tutorial-how-prepare-11"}}{{/i18n}}</p>
<img src="{{assets}}/tutorials/tutorial-guide/images/screenshot-2.png" alt="Screenshot">
<p>{{#i18n "writing-a-tutorial-how-prepare-12"}}{{/i18n}}</br>
  </br>
  <pre><code class="language-javascript">
&lt;pre&gt;&lt;code class="language-javascript"&gt;</br>
Your code here!</br>
&lt;/code>&lt;/pre&gt;</br>
</br>
</code></pre>

</p>
<h2>{{#i18n "writing-a-tutorial-embedding-title"}}{{/i18n}}</h2>
<p>{{#i18n "writing-a-tutorial-embedding-1"}}{{/i18n}}</p>

<p><ol>
<li>{{#i18n "writing-a-tutorial-embedding-2"}}{{/i18n}}<a href="http://p5js.org/reference/#/p5/ellipse">{{#i18n "writing-a-tutorial-embedding-3"}}{{/i18n}}</a>{{#i18n "writing-a-tutorial-embedding-4"}}{{/i18n}}<a href="https://toolness.github.io/p5.js-widget/">{{#i18n "writing-a-tutorial-embedding-5"}}{{/i18n}}</a>{{#i18n "writing-a-tutorial-embedding-6"}}{{/i18n}}<a href="https://github.com/toolness">Toolness</a>{{#i18n "writing-a-tutorial-embedding-7"}}{{/i18n}} <a href="https://github.com/processing/p5.js-website/blob/master/src/templates/pages/tutorials/test-tutorial.hbs">{{#i18n "writing-a-tutorial-embedding-8"}}{{/i18n}}.</a></li>
<li>{{#i18n "writing-a-tutorial-embedding-9"}}{{/i18n}}</li>
</ol>

<h2>{{#i18n "writing-a-tutorial-embed-iframe-title"}}{{/i18n}}</h2>

<p>{{#i18n "writing-a-tutorial-embed-iframe-1"}}{{/i18n}}</p>
<img src="https://github.com/tegacodes/p5.js-education/raw/master/images/iframe-2.jpg" alt="tutorialFileStructure" width="600px">

<p>{#i18n "writing-a-tutorial-embed-iframe-2"}}{{/i18n}}</p>

<img src="{{assets}}/tutorials/tutorial-guide/images/screenshot-3.png" alt="Screenshot">

<p>{#i18n "writing-a-tutorial-embed-iframe-3"}}{{/i18n}}</p>
<img src="{{assets}}/tutorials/tutorial-guide/images/screenshot-4.png" alt="Screenshot">

<p>{#i18n "writing-a-tutorial-embed-iframe-4"}}{{/i18n}}</p>
<p>{#i18n "writing-a-tutorial-embed-iframe-5"}}{{/i18n}}</p>
  <pre><code class="language-javascript">
&lt;iframe src="http://p5js.org/assets/tutorials/tes-tutorial/embed.html" width="600px" height="400px"&gt;</br>
&lt;/iframe&gt;</br>
</code></pre>
</br>
<p>Styling for the iframe (this could directly into the post or in a stylesheet):  </p>
  <pre><code class="language-javascript">
&lt;style&gt; iframe{ border: none; } &lt;/style&gt;
</code></pre>
</br>
<p>Here you can see the naked sketch running:  </p>
<a href="http://staging.p5js.org/assets/tutorials/test-tutorial/embed.html">http://staging.p5js.org/assets/tutorials/test-tutorial/embed.html</a>

<p>And here it is embedded in the p5 site using the code below:  </p>
<a href="http://staging.p5js.org/tutorials/test-tutorial.html">http://staging.p5js.org/tutorials/test-tutorial.html</a>

<p>One thing to note is that you need to manually set the size of the iframe, so it works best if things are a standard size.</p>

<p>Also note that the links to the p5.js library files do not happen from the .eps page with all the tutorial content. Instead they will be located in the html page that is rendering your sketch (in this case, called embed.html). </p>

<p>More information on embedding p5js sketches can be found <a href="https://github.com/processing/p5.js/wiki/Embedding-p5.js">here.</a></p>
<h2>Finishing Up</h2>
<p>Once your have finished writing your tutorial and your content has been given the thumbs up. Fork the p5js website repository, prepare your content as described above and then issue a pull request to the p5js website repository so we can publish your contribution!</p>

    <p>Thank you!</p>

  </section>

  {{> footer}}

</div> <!-- end column-span -->

{{> asterisk}}

</div><!-- end id="get-started-page"  -->
