---
title: tutorials
slug: tutorials/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section role="region" label="main content">

      <h1>Guide to contributing p5js tutorials</h1>
      <div class="attribution">
        This tutorial was written by Tega Brain.
      </div>

        <p>We invite educators, contributors and general enthusiasts to contribute p5js tutorials. The p5js project makes creative coding and open source development more accessible to a diverse community and we are excited to publish tutorials on all aspects of the development process. Our learning materials so far include guides on learning p5, programming technique and how to contribute to an open source project. </p>
<p>We welcome new written tutorial contributions and this guide outlines the steps of how to propose, prepare and contribute. </p>

<h2>How to get started:</h2>
<p>
  <ul>
<li>Check that your proposed topic has not already been covered. There is a working spreadsheet here that outlines in progress tutorials. If your topic is listed as in progress, perhaps you can add to work being done and contribute to preparing existing work for publication so please reach out to us.</li>
<li>If your topic is not already covered and is not listed as in progress, please write a few sentences on what you propose to cover and email us this description at education@p5js.org. </li>
<ul>
</p>
<h2>How to prepare a p5js tutorial for publication online:</h2>
<p>When your tutorial is ready for publication, please follow these steps to prepare your content for the p5js website. </p>

<p>Prepare the content of your tutorial as a tutorial-name.hbs file with this <a href="https://github.com/mayaman/p5js-website/blob/master/src/templates/pages/tutorials/test-tutorial.hbs">this basic structure</a>. As in this file, it must contain a header as shown below:</p>

    <p>The end!</p>

  </section>

  {{> footer}}

</div> <!-- end column-span -->

{{> asterisk}}

</div><!-- end id="get-started-page"  -->
