---
title: showcase
slug: showcase/
---

<div id="showcase-page">

  {{> sidebar}}

  <div class="column-span">

    <section id="content" role="region" label="main content">
      <h1>{{#i18n "Showcase"}}{{/i18n}}</h1>

      <div class="left-column">
        <p>{{#i18n "test"}}{{/i18n}}</p>
      </div>
    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="showcase-page"  -->