---
title: examples
heading: 'p5.js'
language: en
---
<!-- content sections -->
<div>
  <div id = "container">
  {{>i18n-en}}
  {{>logo}}
<div class="column-span">
  {{>sidebar}}
  <section>
      <h2>Examples</h2>

      <div class="column_0">
      
        <p>
        <strong>Structure</strong><br>
        
          <a href="examples/Structure_Coordinates.html">Coordinates</a><br>
          
        
          <a href="examples/Structure_Width_and_Height.html">Width/Height</a><br>
          
        
          <a href="examples/Structure_Setup_and_Draw.html">Setup/Draw</a><br>
          
        
          <a href="examples/Structure_No_Loop.html">No Loop</a><br>
          
        
          <a href="examples/Structure_Loop.html">Loop</a><br>
          
        
          <a href="examples/Structure_Redraw.html">Redraw</a><br>
          
        
          <a href="examples/Structure_Functions.html">Functions</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Form</strong><br>
        
          <a href="examples/Form_Points_and_Lines.html">Points/Lines</a><br>
          
        
          <a href="examples/Form_Shape_Primitives.html">Shape Primitives</a><br>
          
        
          <a href="examples/Form_Pie_Chart.html">Pie Chart</a><br>
          
        
          <a href="examples/Form_Regular_Polygon.html">Regular Polygon</a><br>
          
        
          <a href="examples/Form_Star.html">Star</a><br>
          
        
          <a href="examples/Form_Triangle_Strip.html">Triangle Strip</a><br>
          
        
          <a href="examples/Form_Bezier.html">Bezier</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Data</strong><br>
        
          <a href="examples/Data_Variables.html">Variables</a><br>
          
        
          <a href="examples/Data_True_and_False.html">True/False</a><br>
          
        
          <a href="examples/Data_Variable_Scope.html">Variable Scope</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Arrays</strong><br>
        
          <a href="examples/Arrays_Array.html">Array</a><br>
          
        
          <a href="examples/Arrays_Array_2D.html">Array 2D</a><br>
          
        
          <a href="examples/Arrays_Array_Objects.html">Array Objects</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Control</strong><br>
        
          <a href="examples/Control_Iteration.html">Iteration</a><br>
          
        
          <a href="examples/Control_Embedded_Iteration.html">Embedded Iteration</a><br>
          
        
          <a href="examples/Control_Conditionals_1.html">Conditionals 1</a><br>
          
        
          <a href="examples/Control_Conditionals_2.html">Conditionals 2</a><br>
          
        
          <a href="examples/Control_Logical_Operators.html">Logical Operators</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Image</strong><br>
        
          <a href="examples/Image_Load_and_Display_Image.html">Load/Display Image</a><br>
          
        
          <a href="examples/Image_Background_Image.html">Background Image</a><br>
          
        
          <a href="examples/Image_Transparency.html">Transparency</a><br>
          
        
          <a href="examples/Image_Alpha_Mask.html">Alpha Mask</a><br>
          
        
          <a href="examples/Image_Create_Image.html">Create Image</a><br>
          
        
          <a href="examples/Image_Pointillism.html">Pointillism</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Color</strong><br>
        
          <a href="examples/Color_Hue.html">Hue</a><br>
          
        
          <a href="examples/Color_Saturation.html">Saturation</a><br>
          
        
          <a href="examples/Color_Brightness.html">Brightness</a><br>
          
        
          <a href="examples/Color_Color_Variables.html">Color Variables</a><br>
          
        
          <a href="examples/Color_Relativity.html">Relativity</a><br>
          
        
          <a href="examples/Color_Linear_Gradient.html">Linear Gradient</a><br>
          
        
          <a href="examples/Color_Radial_Gradient.html">Radial Gradient</a><br>
          
        
        </p>
        
          </div>
          <div class="column_1">
        
      
        <p>
        <strong>Math</strong><br>
        
          <a href="examples/Math_Increment_Decrement.html">Increment Decrement</a><br>
          
        
          <a href="examples/Math_Operator_Precedence_.html">Operator Precedence </a><br>
          
        
          <a href="examples/Math_Distance_1D.html">Distance 1D</a><br>
          
        
          <a href="examples/Math_Distance_2D.html">Distance 2D</a><br>
          
        
          <a href="examples/Math_Sine.html">Sine</a><br>
          
        
          <a href="examples/Math_Sine_Cosine.html">Sine Cosine</a><br>
          
        
          <a href="examples/Math_Sine_Wave.html">Sine Wave</a><br>
          
        
          <a href="examples/Math_Additive_Wave.html">Additive Wave</a><br>
          
        
          <a href="examples/Math_PolarToCartesian.html">PolarToCartesian</a><br>
          
        
          <a href="examples/Math_Double_Random.html">Double Random</a><br>
          
        
          <a href="examples/Math_Random.html">Random</a><br>
          
        
          <a href="examples/Math__Noise1D.html"> Noise1D</a><br>
          
        
          <a href="examples/Math_Noise_Wave.html">Noise Wave</a><br>
          
        
          <a href="examples/Math_Arctangent.html">Arctangent</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Simulate</strong><br>
        
          <a href="examples/Simulate_Forces.html">Forces</a><br>
          
        
          <a href="examples/Simulate_Particle_System.html">Particle System</a><br>
          
        
          <a href="examples/Simulate_Flocking.html">Flocking</a><br>
          
        
          <a href="examples/Simulate_Wolfram_CA.html">Wolfram CA</a><br>
          
        
          <a href="examples/Simulate_Game_of_Life.html">Game of Life</a><br>
          
        
          <a href="examples/Simulate_Multiple_Particle_Systems.html">Multiple Particle Systems</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Objects</strong><br>
        
          <a href="examples/Objects_Objects.html">Objects</a><br>
          
        
          <a href="examples/Objects_Multiple_Objects.html">Multiple Objects</a><br>
          
        
          <a href="examples/Objects_Array_of_Objects.html">Array of Objects</a><br>
          
        
          <a href="examples/Objects_Objects_2.html">Objects 2</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Instance Mode</strong><br>
        
          <a href="examples/Instance_Mode_Instantiation.html">Instantiation</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Dom</strong><br>
        
          <a href="examples/Dom_Input_and_Button.html">Input/Button</a><br>
          
        
          <a href="examples/Dom_Slider.html">Slider</a><br>
          
        
          <a href="examples/Dom_Modifying_the_DOM.html">Modifying the DOM</a><br>
          
        
          <a href="examples/Dom_Video.html">Video</a><br>
          
        
          <a href="examples/Dom_Video_Canvas.html">Video Canvas</a><br>
          
        
          <a href="examples/Dom_Video_Pixels.html">Video Pixels</a><br>
          
        
          <a href="examples/Dom_Video_Capture.html">Video Capture</a><br>
          
        
          <a href="examples/Dom_Drop.html">Drop</a><br>
          
        
        </p>
        
          </div>
          <div class="column_2">
        
      
        <p>
        <strong>Sound</strong><br>
        
          <a href="examples/Sound_Load_and_Play_Sound.html">Load/Play Sound</a><br>
          
        
          <a href="examples/Sound_Preload_SoundFile.html">Preload SoundFile</a><br>
          
        
          <a href="examples/Sound_soundFormats.html">soundFormats</a><br>
          
        
          <a href="examples/Sound_Play_Mode.html">Play Mode</a><br>
          
        
          <a href="examples/Sound_Pan_Sound.html">Pan Sound</a><br>
          
        
          <a href="examples/Sound_Sound_Effect.html">Sound Effect</a><br>
          
        
          <a href="examples/Sound_Playback_Rate.html">Playback Rate</a><br>
          
        
          <a href="examples/Sound__Amplitude_Analysis.html"> Amplitude Analysis</a><br>
          
        
          <a href="examples/Sound_Noise_Drum_Envelope.html">Noise Drum Envelope</a><br>
          
        
          <a href="examples/Sound__Note_Envelope.html"> Note Envelope</a><br>
          
        
          <a href="examples/Sound__Amplitude_(Volume).html"> Amplitude (Volume)</a><br>
          
        
          <a href="examples/Sound_Oscillator_Frequency.html">Oscillator Frequency</a><br>
          
        
          <a href="examples/Sound_Mic_Input.html">Mic Input</a><br>
          
        
          <a href="examples/Sound_Frequency_Spectrum.html">Frequency Spectrum</a><br>
          
        
          <a href="examples/Sound_Mic_Threshold.html">Mic Threshold</a><br>
          
        
          <a href="examples/Sound__Filter_LowPass.html"> Filter LowPass</a><br>
          
        
          <a href="examples/Sound__Filter_BandPass.html"> Filter BandPass</a><br>
          
        
          <a href="examples/Sound__Delay.html"> Delay</a><br>
          
        
          <a href="examples/Sound__Reverb.html"> Reverb</a><br>
          
        
          <a href="examples/Sound__Convolution_Reverb.html"> Convolution Reverb</a><br>
          
        
          <a href="examples/Sound__Record_Save_Audio.html"> Record Save Audio</a><br>
          
        
          <a href="examples/Sound_Frequency_Modulation.html">Frequency Modulation</a><br>
          
        
          <a href="examples/Sound_Amplitude_Modulation.html">Amplitude Modulation</a><br>
          
        
        </p>
        
      
        <p>
        <strong>Mobile</strong><br>
        
          <a href="examples/Mobile_Acceleration_Ball_Bounce.html">Acceleration Ball Bounce</a><br>
          
        
          <a href="examples/Mobile_Simple_Draw.html">Simple Draw</a><br>
          
        
          <a href="examples/Mobile_Acceleration_Color.html">Acceleration Color</a><br>
          
        
          <a href="examples/Mobile_Shake_Ball_Bounce.html">Shake Ball Bounce</a><br>
          
        
        </p>
        
      
      </div>

      <div class="spacer"></div>

      <a name="demos" class="anchor"><h3>Demos</h3></a>
      <div class="column_0">
      
        <p>
        <strong>Hello P5</strong><br>
        
          <a href="demos/Hello_P5_Simple_Shapes.html">Simple Shapes</a><br>
          
        
          <a href="demos/Hello_P5_Interactivity_1.html">Interactivity 1</a><br>
          
        
          <a href="demos/Hello_P5_Interactivity_2.html">Interactivity 2</a><br>
          
        
          <a href="demos/Hello_P5_Animation.html">Animation</a><br>
          
        
          <a href="demos/Hello_P5_Flocking.html">Flocking</a><br>
          
        
          <a href="demos/Hello_P5_Weather.html">Weather</a><br>
          
        
          <a href="demos/Hello_P5_Drawing.html">Drawing</a><br>
          
        
          <a href="demos/Hello_P5_Song.html">Song</a><br>
          
        
        </p>
        
          </div>
          <div class="column_1">
        
      
      </div>
      <!--<li><a href="https://github.com/processing/p5.js/tree/master/examples/learningprocessing">Learning Processing examples</a> - port of the first 10 chapters of examples from Dan Shiffman's <a href="http://www.learningprocessing.com/examples/">Learning Processing book</a>.</li>
      <li><a href="http://risd-creative-programming.github.io/fa13-introtocreativeprogramming/examples.html">RISD class examples</a> - examples covering basics of programming with p5.js used in RISD Intro Creative Programming class.</li>-->

  {{> footer}}
  </section>
  </div>
</div>
</div>
