---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <main id="content" class="column-span project-page">
    <h1>{{#i18n "project-casey-louise"}}{{/i18n}}</h1>

    <section class="project-info">
      <h2 class='sr-only'>Project Info</h2>
      <div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
        <iframe src="https://glitch.com/embed/#!/embed/shader-on-vertex?path=&previewSize=100"
          title="A Glitch project showing how to apply shaders to a vertex shape in p5.js."
          style="height: 100%; width: 100%; border: 0;">
        </iframe>
      </div>
    </section>
    <section class="project-metadata">
      <h2 class='sr-only'>Project Authors and Links</h2>
      <section class="project-credit">
        <h3>{{#i18n "created-by"}}{{/i18n}}</h3>
        <p>Casey Conchinha <span class="note">{{#i18n "pronouns-male"}}{{/i18n}}</span></p>
        <p>Louise Lessél <span class="note">{{#i18n "pronouns-female"}}{{/i18n}}</span></p>
        <p class="creator-from">{{#i18n "creator-from-casey-louise"}}{{/i18n}}</p>
      </section>

      <section class="project-resources">
        <h3 id="resources">{{#i18n "project-links"}}{{/i18n}}</h3>
        <ul class='links' aria-labelledby="resources">
          <li><a href="https://bit.ly/p5shaders" target="_blank">{{#i18n "link-1-casey-louise"}}{{/i18n}}</a></li>
          <li><a href="https://bit.ly/p5shadersexamples" target="_blank">{{#i18n "link-2-casey-louise"}}{{/i18n}}</a>
          </li>
        </ul>
      </section>
    </section>

    <section>
      <h2 id="qa">Q&amp;A</h2>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-1"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-1-casey-louise"}}{{/i18n}}</p>
        <p class='project-a'>{{#i18n "project-a-1-2-casey-louise"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-3-casey-louise"}}{{/i18n}}<a href="https://processing.org/"
            target="_blank">Processing</a>{{#i18n "project-a-1-4-casey-louise"}}{{/i18n}}</p>
        <p class='project-a'>{{#i18n "project-a-1-5-casey-louise"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-2-1-casey-louise"}}{{/i18n}}<a href="https://www.itpxstory.com/"
            target="_blank">xStory</a>{{#i18n "project-a-2-2-casey-louise"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-3"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-3-1-casey-louise"}}{{/i18n}}<a href="https://thecodingtrain.com/"
            target="_blank">Shiffman</a>{{#i18n "project-a-3-2-casey-louise"}}{{/i18n}}</p>
        <p class='project-a'>
          {{#i18n "project-a-3-3-casey-louise"}}{{/i18n}}<code><a href="https://p5js.org/reference/#/p5/push" target="_blank">push()</a></code>{{#i18n "project-a-3-4-casey-louise"}}{{/i18n}}<code><a href="https://p5js.org/reference/#/p5/pop" target="_blank">pop()</a></code>{{#i18n "project-a-3-5-casey-louise"}}{{/i18n}}
        </p>

      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-4"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-4-1-casey-louise"}}{{/i18n}}<a
            href="https://github.com/aferriss/p5jsShaderExamples"
            target="_blank">{{#i18n "adam-ferris-repo-casey-louise"}}{{/i18n}}</a>{{#i18n "project-a-4-2-casey-louise"}}{{/i18n}}<a
            href="http://www.katehollenbach.com/" target="_blank">Kate
            Hollenbach</a>{{#i18n "project-a-4-3-casey-louise"}}{{/i18n}}<a href="https://stalgiagrigg.name/"
            target="_blank">Stalgia Grigg</a>{{#i18n "project-a-4-4-casey-louise"}}{{/i18n}}<a
            href="https://github.com/processing/p5.js/issues?q=is%3Aissue+is%3Aopen+webgl+label%3Aarea%3Awebgl"
            target="_blank">{{#i18n "webgl-casey-louise"}}{{/i18n}}</a>{{#i18n "project-a-4-5-casey-louise"}}{{/i18n}}
        </p>
        <p class='project-a'>{{#i18n "project-a-4-6-casey-louise"}}{{/i18n}}<a
            href="https://openframeworks.cc/ofBook/chapters/foreword.html"
            target="_blank">{{#i18n "openframeworks-book-casey-louise"}}{{/i18n}}</a>{{#i18n "project-a-4-7-casey-louise"}}{{/i18n}}
        </p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-5"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-5-1-casey-louise"}}{{/i18n}}<a href="https://github.com/ITP-xStory"
            target="_blank">xStory GitHub</a>{{#i18n "project-a-5-2-casey-louise"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-6"}}{{/i18n}}</h3>
        <p class='project-a'>Casey: <a href="https://cargocollective.com/kcconch"
            target="_blank">cargocollective.com/kcconch</a>, <a href="https://github.com/kcconch"
            target="_blank">@kcconch</a> (GitHub)</p>
        <p class='project-a'>Louise: <a href="http://www.louiselessel.com/" target="_blank">louiselessel.com</a>, <a
            href="https://github.com/louiselessel" target="_blank">@louiselessel</a> (GitHub)</p>
      </div>
    </section>
    <div style='clear:both'></div>

    {{> footer}}

  </main>

  {{> asterisk}}

</div>