---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <section class="column-span project-page">
    <h2>{{#i18n "project-casey-louise"}}{{/i18n}}</h2>

    <article class="project-info">
      <div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
        <iframe
          src="https://glitch.com/embed/#!/embed/shader-on-vertex?path=&previewSize=100"
          title="A Glitch project showing how to apply shaders to a vertex shape in p5.js."
          style="height: 100%; width: 100%; border: 0;">
        </iframe>
      </div>
    </article>

    <article class="project-resources">
      <h3 id="resources">Project resources</h3>
      <ul class="links">
        <li><a href="https://bit.ly/p5shaders" target="_blank">p5.js Shaders guide</a></li>
        <li><a href="https://bit.ly/p5shadersexamples" target="_blank">Glitch collection of examples</a></li>
      </ul>
    </article>

    <article class="project-credit">
      <h3 id="creator">Casey Conchinha <sup class="note">(he/him)</sup>
        <br/>Louise Lessél <sup class="note">(she/her)</sup>
      </h3>
      
      <h3>From</h3>
      <p>New York, New York</p>
    </article>

    <article class="project-qa">
      <h3 id="qa">Q&mp;A</h3>
      
      <h3>What are you up to?</h3>
      <p>Casey: I'm a student at NYU ITP who's interested in computer graphics and interactive spaces, physical and digital.</p>
      <p>Louise: I'm a student at NYU ITP who's interested in computer graphics and interactive spaces based on sensor technologies.</p>
      
      <h3>How did you get started with p5.js?</h3>
      <p>Casey: I started learning p5.js in 2018 in my first semester at ITP, though I had been dabbling in <a href="https://processing.org/" target="_blank">Processing</a> since 2012. I was introduced to Processing by my friend Pedro while I was studying graphic design, and it blew my mind. The idea of making my own tools for creating graphics and interactive art piqued my interest, but once I actually tried it, I was hooked. The first project I can remember was an eye that followed you around the screen, and it was sad when you left it alone.</p>
      <p>Louise: I initially learned p5.js to make a website I was creating more playful. I’m a C# programmer, so this was a good segway into JavaScript for me.</p>
      
      <h3>How did you use p5.js in this project?</h3>
      <p>Casey: I was putting off learning shaders for a long time, and I was also curious if I could use them in p5.js. Then I heard about a grant for open source, storytelling, and learning resource projects at ITP called <a href="https://www.itpxstory.com/" target="_blank">xStory</a>. Since I wasn't finding much in the way of p5.js + shader documentation, I decided to figure out how they're implemented in p5.js and create a resource for others to learn. When I told Louise about the project, she was immediately excited about learning and teaching shaders in p5.js. She's been great about making sure the project is a learning resource and not just a collection of examples.</p>
      
      <h3>What's your favorite p5.js feature?</h3>
      <p>Casey: Does <a href="https://thecodingtrain.com/" target="_blank">Shiffman</a> count as a feature? I also love having the ability to share my programs on the web so that people don't have to install special software or come to NYC to see my work.</p>
      <p>Louise: My favorite feature is <code><a href="https://p5js.org/reference/#/p5/push" target="_blank">push()</a></code> and <code><a href="https://p5js.org/reference/#/p5/pop" target="_blank">pop()</a></code> for transformation of the coordinate system to make generative visuals.</p>
      
      <h3>Did you face any challenges working on this project? If so, how did you overcome them?</h3>
      <p>Casey: The beginning of the project (figuring out how things work) was us reaching out to amazing people, asking questions, and asking for permission to use their examples in our project. <a href="https://github.com/aferriss/p5jsShaderExamples" target="_blank">Adam Ferriss' GitHub repo</a> really laid the groundwork for us in understanding how shaders work in p5.js and provided a framework of approachable examples for us to build on. For some specific p5.js-related issues we were having, we reached out to <a href="http://www.katehollenbach.com/" target="_blank">Kate Hollenbach</a> and <a href="https://stalgiagrigg.name/" target="_blank">Stalgia Grigg</a> (who worked on the <a href="https://github.com/processing/p5.js/issues?q=is%3Aissue+is%3Aopen+webgl+label%3Aarea%3Awebgl" target="_blank">WebGL implementation in p5.js</a>), and they were super helpful.</p>
      <p>Louise: The learning curve was pretty steep for getting shaders into p5. Luckily, there were some very well-documented examples on GitHub by Adam Ferriss. Our aim was to do so in a way that a complete beginner can understand how to implement it, so it was as much a technical challenge as it was a challenge in teaching code to strangers and beginners. Here we drew inspiration from the way the <a href="https://openframeworks.cc/ofBook/chapters/foreword.html" target="_blank">openFrameworks book</a> is written. A fun “hey, it’s not hard and you can do it too” approach is what we believe in.</p>

      <h3>What's a cool thing we should check out?</h3>
      <p>Check out the <a href="https://github.com/ITP-xStory" target="_blank">xStory GitHub</a> to see our peers' amazing grant projects!</p>
      
      <h3>Where can people learn more about you?</h3>
      <p>Casey: <a href="https://cargocollective.com/kcconch" target="_blank">cargocollective.com/kcconch</a>, <a href="https://github.com/kcconch" target="_blank">@kcconch</a> (GitHub)</p>
      <p>Louise: <a href="http://www.louiselessel.com/" target="_blank">louiselessel.com</a>, <a href="https://github.com/louiselessel" target="_blank">@louiselessel</a> (GitHub)</p>
    </article>

    {{> footer}}

  </section>

  {{> asterisk}}

</div>