---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <section class="column-span project-page">
    <h2>{{#i18n "project-daein"}}{{/i18n}}</h2>

    <article class="project-info">
      <figure>
        <img src="{{assets}}/img/showcase/daein-chung/daein-chung_chillin.png" 
        alt="A screenshot of a poster with red and yellow circles of letters from the word chillin against a blue tile background that changes perspective on a mobile device. 
        At the top, there is a text input box to enter a message and download your own poster.">
      </figure>
    </article>

    <article class="project-resources">
      <h3 id="resources">Project resources</h3>
      <ul class="links">
        <li><a href="https://exp.paperdove.com/chillin/" target="_blank">Chillin'</a></li>
        <li><a href="https://github.com/cdaein/exp/tree/gh-pages/chillin" target="_blank">GitHub repository</a></li>
        <li><a href="https://paperdove.com/work/2019-chillin/" target="_blank">Portfolio page</a></li>
      </ul>
    </article>

    <article class="project-credit">
      <h3 id="creator">Dae In Chung <sup class="note">(he/him)</sup></h3>
      
      <h3>From</h3>
      <p>Baltimore, Maryland</p>
    </article>

    <article class="project-qa">
      <h3 id="qa">Q&mp;A</h3>

      <h3>What are you up to?</h3>
      <p>I am a graphic designer and a faculty member at Maryland Institute College of Art, where I mainly teach coding (with p5.js and Processing, of course) and motion graphics.</p>
      
      <h3>How did you get started with p5.js?</h3>
      <p>I have been using <a href="https://processing.org/" target="_blank">Processing</a> for some time, and when p5.js came along, I started using it without a second thought because it was easy to convert existing Processing code and share projects online. </p>
      
      <h3>How did you use p5.js in this project?</h3>
      <p>This summer, I gave myself a challenge of making typographic posters with coding, and this is one of the posters I made. I didn’t know until very recently that I could use motion sensor data with p5.js. I was also watching <a href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6bLh3T_4wtrmVHOrOEM1ig_" target="_blank">Dan Shiffman’s matter.js tutorial videos</a>, so I thought why not combine the two and practice what I was learning?</p>
      
      <h3>What's your favorite p5.js feature?</h3>
      <p>There are many things I love about p5.js such as the online community and beginner friendliness. What I really like right now is the <a href="https://editor.p5js.org/" target="_blank">online editor</a>, with which I can not only work online for myself but also share URLs quickly in the present mode. For this project in particular, I had to do a lot of testing on my phone, and it was much easier and quicker than committing to GitHub.</p>
      
      <h3>Did you face any challenges working on this project? If so, how did you overcome them?</h3>
      <p>I had some troubles with handling font, alpha channel and z-depth in <a href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5" target="_blank">WebGL</a> mode. I am still not happy with all my decisions. But in general, it was helpful to search the forum and not to forget to break down problems into smaller ones and iterate little by little. Also, I had issues with rendering out video files directly out of p5.js. Screen recording was not an option because of intermittent frame rate drops (my laptop is pretty slow). After doing some research, I decided to learn some basics of <a href="https://electronjs.org/" target="_blank">Electron</a> and build a tool for myself.</p>
      
      <h3>What's a cool thing we should check out?</h3>
      <p>As mentioned above, if you want to render out frames and video files out of p5.js sketches, check out my <a href="https://github.com/cdaein/p5js-electron-canvas-saver-boilerplate" target="_blank">Canvas Saver boilerplate</a> and let me know what you think.</p>
      
      <h3>Where can people learn more about you?</h3>
      <p><a href="https://www.instagram.com/cdaein/" target="_blank">@cdaein</a> (Instagram)</p>
    </article>

    {{> footer}}

  </section>

  {{> asterisk}}

</div>