---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <main id="content" class="column-span project-page">
    <h1>{{#i18n "project-daein"}}{{/i18n}}</h1>

    <section class="project-info">
      <h2 class='sr-only' id="info">Project Info</h2>
      <img src="{{assets}}/img/showcase/daein-chung/daein-chung_chillin.png" alt="A screenshot of a poster with red and yellow circles of letters from the word chillin against a blue tile background that changes perspective on a mobile device.
        At the top, there is a text input box to enter a message and download your own poster.">
    </section>

    <section class="project-metadata">
      <h2 class='sr-only'>Project Authors and Links</h2>

      <section class="project-credit">
        <h3>{{#i18n "created-by"}}{{/i18n}}</h3>
        <p>Dae In Chung <span class="note">{{#i18n "pronouns-male"}}{{/i18n}}</span></p>
        <p class="creator-from">From Baltimore, Maryland</p>
      </section>

      <section class="project-resources">
        <h3 id="resources">{{#i18n "project-links"}}{{/i18n}}</h3>
        <ul class="links">
          <li><a href="https://exp.paperdove.com/chillin/" target="_blank">{{#i18n "link-1-chung"}}{{/i18n}}</a></li>
          <li><a href="https://github.com/cdaein/exp/tree/gh-pages/chillin"
              target="_blank">{{#i18n "link-2-chung"}}{{/i18n}}</a></li>
          <li><a href="https://paperdove.com/work/2019-chillin/" target="_blank">{{#i18n "link-3-chung"}}{{/i18n}}</a>
          </li>
        </ul>
      </section>
    </section>



    <section>
      <h2 id="qa">Q&amp;A</h2>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-1"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-1-chung"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-2-chung"}}{{/i18n}}<a href="https://processing.org/"
            target="_blank">Processing</a>{{#i18n "project-a-1-3-chung"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-2-1-chung"}}{{/i18n}}<a
            href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6bLh3T_4wtrmVHOrOEM1ig_"
            target="_blank">{{#i18n "dan-shiffman-matterjs-tutorial"}}{{/i18n}}</a>{{#i18n "project-a-2-2-chung"}}{{/i18n}}
        </p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-3"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-3-1-chung"}}{{/i18n}}<a href="https://editor.p5js.org/"
            target="_blank">online editor</a>{{#i18n "project-a-3-2-chung"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-4"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-4-1-chung"}}{{/i18n}}<a
            href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5"
            target="_blank">WebGL</a>{{#i18n "project-a-4-2-chung"}}{{/i18n}}<a href="https://electronjs.org/"
            target="_blank">Electron</a>{{#i18n "project-a-4-3-chung"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-5"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-5-1-chung"}}{{/i18n}}<a
            href="https://github.com/cdaein/p5js-electron-canvas-saver-boilerplate" target="_blank">Canvas Saver
            boilerplate</a>{{#i18n "project-a-5-2-chung"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-6"}}{{/i18n}}</h3>
        <p class='project-a'><a href="https://www.instagram.com/cdaein/" target="_blank">@cdaein</a> (Instagram)</p>
      </div>
    </section>
    <div style='clear:both'></div>

    {{> footer}}

  </main>

  {{> asterisk}}

</div>