---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <section class="column-span project-page">
    <h2>{{#i18n "project-moon-xin"}}{{/i18n}}</a></h2>

    <article class="project-info">
      <figure>
        <img src="{{assets}}/img/showcase/moon-xin/moon-xin_poster-carlee.png" alt="A screenshot of student Carlee Wooddell's poster that interprets the word zigzag using letters that bounce left and right.">
      </figure>
    </article>

    <article class="project-resources">
      <h3 id="resources">Project resources</h3>
      <ul class="links">
        <li><a href="https://editor.p5js.org/avezray/present/JTjhOdGRB" target="_blank">Avery Ray</a></li>
        <li><a href="https://editor.p5js.org/carcarw/present/DyKJHUtCN" target="_blank">Carlee Wooddell</a></li>
        <li><a href="https://editor.p5js.org/mdh54215/present/h5wp4EYen" target="_blank">Mia Hofmann</a></li>
        <li><a href="https://editor.p5js.org/katiehuang1998@gmail.com/present/1GhSDw-Og" target="_blank">Katie Huang</a></li>
        <li><a href="https://editor.p5js.org/borderrider@gmail.com/present/Lg_pSPRHF" target="_blank">Lila Mitchell</a></li>
        <li><a href="https://editor.p5js.org/wallacekd/present/GqWZOYUSN" target="_blank">Kathryn Wallace</a></li>
      </ul>
    </article>

    <article class="project-credit">
      <h3 id="creator">Moon Jang <sup class="note">(she/her)</sup>
        <br/>Xin Xin <sup class="note">(they/them)</sup>
      </h3>
      <h3>From</h3>
      <p>Athens, Georgia</p>
    </article>

    <article class="project-qa">
      <h3 id="qa">Q&mp;A</h3>

      <h3>What are you up to?</h3>
      <p>Moon: I'm a graphic designer, visual artist, and design educator. This summer, I taught a graphic design course in the University of Georgia Cortona program in Italy, introducing some basics of p5.js. This fall, I am planning to teach and to study digital platforms at UGA.</p>
      
      <h3>How did you get started with p5.js?</h3>
      <p>My former colleague, <a href="https://xin-xin.info/" target="_blank">Xin Xin</a>, invited me to <a href="https://medium.com/processing-foundation/pcd/home" target="_blank">Processing Community Day</a> in <a href="https://day.processing.org/pcd-la.html" target="_blank">LA in January 2019</a>. They helped me with the tools and logics of p5.js. It was an excellent teaching and learning experience.</p>
      
      <h3>How did you use p5.js in this project?</h3>
      <p>We followed basic tutorials, <a href="https://thecodingtrain.com/" target="_blank">Daniel's videos on YouTube</a>, and <a href="https://p5js.org/reference/" target="_blank">Reference on the p5.js website</a>.</p>
      
      <h3>What's your favorite p5.js feature?</h3>
      <p>My favorite function is related to <a href="https://p5js.org/reference/#group-Typography" target="_blank">type</a> and <a href="https://p5js.org/reference/#group-Transform" target="_blank">transformation</a>: <code><a href="https://p5js.org/reference/#/p5/rotate" target="_blank">rotate()</a></code>. I was able to use and to teach this tool to visualize various ideas about time in motion.</p>
      
      <h3>Did you face any challenges working on this project? If so, how did you overcome them?</h3>
      <p>It was challenging for me, a beginner, to understand the overall structure of p5.js and how code works in general. I had to repeat the p5.js basics a couple of times, and then I drew a chart to memorize and to teach the way I understood the p5.js structure and code with strong constraints I set up. It was an excellent teaching and learning experience.</p>
      
      <h3>What's a cool thing we should check out?</h3>
      <p>Check out the <a href="http://www.brokennature.org/" target="_blank">Design Triennale</a> in Milan, Italy.</p>
      
      <h3>Where can people learn more about you?</h3>
      <p><a href="http://www.moonjang.com/" target="_blank">moonjang.com</a>
        <br/><a href="https://www.instagram.com/borderrider/" target="_blank">@borderrider</a> (Instagram)
      </p>
    </article>

    {{> footer}}

  </section>

  {{> asterisk}}

</div>