---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <main id="content" class="column-span project-page">
    <h1>{{#i18n "project-phuong"}}{{/i18n}}</h1>

    <section class="project-info">
      <h2 class='sr-only'>Project Info</h2>
      <img src="{{assets}}/img/showcase/phuong-ngo/phuong-ngo_airi-flies.png" alt="A screenshot of a poster of Airi Flies, a game to help Airi fly by saying pew.">
    </section>

    <section class="project-metadata">
      <h2 class='sr-only'>Project Authors and Links</h2>

      <section class="project-credit">
        <h3>{{#i18n "created-by"}}{{/i18n}}</h3>
        <p>Phuong Ngo <span class="note">{{#i18n "pronouns-female"}}{{/i18n}}</span></p>
        <p class="creator-from">{{#i18n "creator-from-phuong"}}{{/i18n}}</p>
      </section>

      <section class="project-resources">
        <h3 id="resources">{{#i18n "project-links"}}{{/i18n}}</h3>

        <ul class="links">
          <li><a href="https://www.yonaymoris.me/AiriFlies/" target="_blank">{{#i18n "link-1-phuong"}}{{/i18n}}</a></li>
          <li><a href="https://github.com/yonaymoris/AiriFlies" target="_blank">{{#i18n "link-2-phuong"}}{{/i18n}}</a>
          </li>
          <li><a href="https://www.yonaymoris.me/projects/airiflies"
              target="_blank">{{#i18n "link-3-phuong"}}{{/i18n}}</a></li>
        </ul>
      </section>
    </section>


    <section>
      <h2 id="qa">Q&amp;A</h2>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-1"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-1-phuong"}}{{/i18n}}<a href="https://schoolofma.org/"
            target="_blank">School of Machines, Making & Make-Believe</a>{{#i18n "project-a-1-2-phuong"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-3-phuong"}}{{/i18n}}<a href="https://schoolofma.org/bots.html"
            target="_blank">Bots and Machine Learning</a>{{#i18n "project-a-1-4-phuong"}}{{/i18n}}<a
            href="https://1023.io/" target="_blank">Yining Shi</a>.</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-2-1-phuong"}}{{/i18n}}<a href="https://rizer.co/pixaki/"
            target="_blank">Pixaki</a>{{#i18n "project-a-2-2-phuong"}}{{/i18n}}<a
            href="http://molleindustria.github.io/p5.play/"
            target="_blank">p5.play</a>{{#i18n "project-a-2-3-phuong"}}{{/i18n}}</p>
        <p class='project-a'>{{#i18n "project-a-2-4-phuong"}}{{/i18n}}<a
            href="https://editor.p5js.org/chjno/sketches/ByZlypKWM"
            target="_blank">{{#i18n "p5-sketch-by-chjno-phuong"}}{{/i18n}}</a>{{#i18n "project-a-2-5-phuong"}}{{/i18n}}
        </p>
        <p class='project-a'>{{#i18n "project-a-2-6-phuong"}}{{/i18n}}<a
            href="https://teachablemachine.withgoogle.com/io19" target="_blank">Google's Teachable Machine
            2</a>{{#i18n "project-a-2-7-phuong"}}{{/i18n}}<a href="https://ml5js.org/" target="_blank">ml5.js</a>.</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-3"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-3-1-phuong"}}{{/i18n}}<a href="https://p5js.org/reference/"
            target="_blank">p5.js
            library</a>{{#i18n "project-a-3-2-phuong"}}{{/i18n}}<code><a href="https://p5js.org/reference/#/p5/createDiv" target="_blank">createDiv()</a></code>,
          <code><a href="https://p5js.org/reference/#/p5.Element/addClass" target="_blank">addClass()</a></code>{{#i18n "project-a-3-3-phuong"}}{{/i18n}}<code><a href="https://p5js.org/reference/#/p5/draw" target="_blank">draw()</a></code>{{#i18n "project-a-3-4-phuong"}}{{/i18n}}
        </p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-4"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-4-1-phuong"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-5"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-5-1-phuong"}}{{/i18n}}<a href="https://schoolofma.org/programs"
            target="_blank">{{#i18n "school-of-machines-phuong"}}{{/i18n}}</a>{{#i18n "project-a-5-2-phuong"}}{{/i18n}}
        </p>
      </div>
      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-6"}}{{/i18n}}</h3>
        <p class='project-a'><a href="https://www.yonaymoris.me/" target="_blank">yonaymoris.me</a></p>
      </div>
    </section>
    <div style='clear:both'></div>

    {{> footer}}

  </main>

  {{> asterisk}}

</div>