---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <section class="column-span project-page">
    <h2>{{#i18n "project-qianqian"}}{{/i18n}}</h2>

    <article class="project-info">
      <iframe title="A guest talk video (Guest Talk #1) on Qtv by Qianqian Ye, featuring Kaikai and Cheng Xu." 
      width="560" height="315" 
      src="https://embed-bud.glitch.me/iframe/R-nB_KPIWhI" 
      frameborder="0" allow="fullscreen"></iframe>
    </article>

    <article class="project-resources">
      <h3 id="resources">Project resources</h3>

      <ul class="links">
        <li><a href="https://bit.ly/2XVzPAv" target="_blank">Qtv YouTube</a></li>
        <li><a href="https://www.instagram.com/q_tv_/" target="_blank">Qtv Instagram</a></li>
        <li><a href="https://space.bilibili.com/442343394" target="_blank">Qtv Bilibili</a></li>
        <li>@Q_tv TikTok</li>
        <li><a href="https://medium.com/processing-foundation/interview-with-2019-fellow-qianqian-ye-799c0115c295" target="_blank">Processing Foundation interview</a></li>
      </ul>
    </article>

    <article class="project-credit">
      <h3 id="creator">Qianqian Ye <sup class="note">(she/her)</sup></h3>
      
      <h3>From</h3>
      <p>Los Angeles, California</p>
    </article>

    <article class="project-qa">
      <h3 id="qa">Q&mp;A</h3>

      <h3>What are you up to?</h3>
      <p>I am a Chinese artist and designer based in Los Angeles.</p>
      
      <h3>How did you get started with p5.js?</h3>
      <p>My partner introduced me to p5.js, which I learned mainly by watching free online video tutorials. My first p5.js project was drawing some shapes with different colors.</p>
      
      <h3>How did you use p5.js in this project?</h3>
      <p>This project started with an idea of teaching my mom, who lives in China and doesn’t speak English, to code with p5.js. This project was difficult on multiple levels, and I wanted to start by identifying the main reasons why it’s more challenging for someone like my mother to learn to code—primarily due to the lack of free creative coding education resources. Most of the free resources to learn creative coding are unavailable in China. The p5.js tutorials on YouTube as well as the p5.js Twitter and Instagram accounts are inaccessible in China because of internet censorship.</p>
      <p>I learned a lot from YouTube videos such as the <a href="https://thecodingtrain.com/" target="_blank">Coding Train</a>, but the more I watched coding tutorials online, the more I realized how difficult it is to find other womxn and people of color teaching coding, especially in Mandarin. I wanted to help other Chinese womxn relate to creative coding.</p>
      <p>I am working on opening up the video channels to other Chinese creatives who want to contribute to the educational resource together, like interviews and guest tutorials. If you are interested in teaching/talking about creative coding in Mandarin, HMU!</p>
      
      <h3>What's your favorite p5.js feature?</h3>
      <p>The <a href="https://editor.p5js.org/" target="_blank">p5.js Web Editor</a> is my favorite feature. It makes web-based creative coding seamless.</p>
      
      <h3>Did you face any challenges working on this project? If so, how did you overcome them?</h3>
      <p>Learning to code in a second language was difficult and the lack of community made this process even harder. I hope to speak from my experience as a beginner and someone who once felt like an outsider to the creative coding and video tutorial world.</p>
      <p>I spend a lot of time researching the latest technology for my videos. In the end, I decided on using my phone to record and iMovie to edit. I hope to encourage others that it doesn’t take a lot of expensive gears to get started making instructional videos.</p>
      <p>Another issue I came across was my own fear of putting myself online. I first had to get over my anxiety of making mistakes in the videos or receiving negative comments online. Often womxn and people of color are targets for online harassment. I’m hoping to help set an example for other womxn and people of color that it’s ok to put yourselves online and strengthen your communities by sharing your knowledge. Eventually, we will be able to stop online harassment by creating strong diverse communities.</p>
      
      <h3>What's a cool thing we should check out?</h3>
      <p>I am very excited about <a href="http://tinytechzines.org/" target="_blank">Tiny Tech Zines</a> in LA.</p>
      
      <h3>Where can people learn more about you?</h3>
      <p><a href="http://www.qianqian-ye.com/" target="_blank">qianqian-ye.com</a></p>
    </article>

    {{> footer}}

  </section>

  {{> asterisk}}

</div>