---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <main id="content" class="column-span project-page">
    <h1>{{#i18n "project-qianqian"}}{{/i18n}}</h1>

    <section class="project-info">
      <h2 class='sr-only'>Project Info</h2>
      <img src="{{assets}}/img/showcase/qianqian-ye/qianqian-ye_qtv.png" alt="A guest talk video (Guest Talk #1) on Qtv by Qianqian Ye, featuring Kaikai and Cheng Xu.">
    </section>

    <section class="project-metadata">
      <h2 class='sr-only'>Project Authors and Links</h2>

      <section class="project-credit">
        <h3>{{#i18n "created-by"}}{{/i18n}}</h3>
        <p>Qianqian Ye <span class="note">{{#i18n "pronouns-female"}}{{/i18n}}</span></p>
        <p class="creator-from">{{#i18n "creator-from-qianqian"}}{{/i18n}}</p>
      </section>

      <section class="project-resources">
        <h3 id="resources">{{#i18n "project-resources"}}{{/i18n}}</h3>

        <ul class="links">
          <li><a href="https://bit.ly/2XVzPAv" target="_blank">Qtv YouTube</a></li>
          <li><a href="https://www.instagram.com/q_tv_/" target="_blank">Qtv Instagram</a></li>
          <li><a href="https://space.bilibili.com/442343394" target="_blank">Qtv Bilibili</a></li>
          <li><a href='https://v.douyin.com/sopAGk/' target='_blank'>@Q_tv TikTok</a></li>
          <li><a href="https://medium.com/processing-foundation/interview-with-2019-fellow-qianqian-ye-799c0115c295"
              target="_blank">{{#i18n "interview-link-qianqian"}}{{/i18n}}</a></li>
        </ul>
      </section>
    </section>

    <section>
      <h2 id="qa">Q&amp;A</h2>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-1"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-1-qianqian"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-1-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-1-2-qianqian"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-2"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-2-1-qianqian"}}{{/i18n}}</p>
        <p class='project-a'>{{#i18n "project-a-2-2-qianqian"}}{{/i18n}}<a href="https://thecodingtrain.com/"
            target="_blank">Coding Train</a>{{#i18n "project-a-2-3-qianqian"}}{{/i18n}}</p>
        <p class='project-a'>{{#i18n "project-a-2-4-qianqian"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-3"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-3-1-qianqian"}}{{/i18n}}<a href="https://editor.p5js.org/"
            target="_blank">p5.js Web Editor</a>{{#i18n "project-a-3-2-qianqian"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-4"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-4-1-qianqian"}}{{/i18n}}</p>
        <p class='project-a'>{{#i18n "project-a-4-2-qianqian"}}{{/i18n}}</p>
        <p class='project-a'>{{#i18n "project-a-4-3-qianqian"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-5"}}{{/i18n}}</h3>
        <p class='project-a'>{{#i18n "project-a-5-1-qianqian"}}{{/i18n}}<a href="http://tinytechzines.org/"
            target="_blank">Tiny Tech Zines</a>{{#i18n "project-a-5-2-qianqian"}}{{/i18n}}</p>
      </div>

      <div class="qa-group">
        <h3 class='project-q'>{{#i18n "project-q-6"}}{{/i18n}}</h3>
        <p class='project-a'><a href="http://www.qianqian-ye.com/" target="_blank">qianqian-ye.com</a></p>
      </div>
    </section>
    <div style='clear:both'></div>

    {{> footer}}

  </main>

  {{> asterisk}}

</div>