---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <section class="column-span project-page">
    <h2>{{#i18n "project-roni"}}{{/i18n}}</h2>
    
    <article class="project-info">
      <figure>
        <img src="{{assets}}/img/showcase/roni-cantor/roni-cantor_plotter-turquoise.jpg" 
        alt="A drawing of a sine wave lerp plotted on black paper with an AxiDraw V3 and a turquoise gel pen.">
        <img src="{{assets}}/img/showcase/roni-cantor/roni-cantor_plotter-white.jpg" 
        alt="A drawing of a sine wave lerp plotted on black paper with an AxiDraw V3 and a white gel pen.">
      </figure>
    </article>

    <article class="project-resources">
      <h3 id="resources">Project resources</h3>

      <ul class="links">
        <li><a href="https://editor.p5js.org/ronicantor/sketches/eq2bIhmh2" target="_blank">p5.js Web Editor sketch</a></li>
        <li><a href="https://drive.google.com/file/d/1UJy6q5cDl6Hg79O9mX1ZN7NFp0NXSYCs/view?usp=sharing" target="_blank">AxiDraw V3 demo video</a></li>
      </ul>
    </article>

    <article class="project-credit">
      <h3 id="creator">Roni Cantor <sup class="note">(she/her)</sup></h3>
      
      <h3>From</h3>
      <p>Toronto, Canada</p>
    </article>

    <article class="project-qa">
      <h3 id="qa">Q&mp;A</h3>

      <h3>What are you up to?</h3>
      <p>I just graduated from Ryerson University's New Media program. Coming from 4 years of coding and making robots, I decided to take a break and play with some more traditional forms of art—while still coding and playing with robots.</p>
      
      <h3>How did you get started with p5.js?</h3>
      <p>I first started using p5.js at <a href="https://itp.nyu.edu/camp2019/" target="_blank">NYU ITP Camp</a>! After using <a href="https://processing.org/" target="_blank">Processing</a> for many years, I wanted to try something new.</p>
      
      <h3>How did you use p5.js in this project?</h3>
      <p>I used p5.js in this project to generate the sine wave and lerp (linear interpolation) formulas and display the visuals in the <a href="https://editor.p5js.org/" target="_blank">p5.js Web Editor</a>. I then used a feature in my code that exported my programmed graphic into an <a href="https://developer.mozilla.org/en-US/docs/Web/SVG" target="_blank">SVG</a> file. I needed an SVG file to give to the plotter—an <a href="https://shop.evilmadscientist.com/productsmenu/846" target="_blank">AxiDraw V3</a>—so that it understood where to draw the lines that I programmed. I sent this information to the plotter with a program called <a href="https://inkscape.org/" target="_blank">Inkscape</a>!</p>
      
      <h3>What's your favorite p5.js feature?</h3>
      <p><code><a href="https://p5js.org/reference/#/p5/lerp" target="_blank">lerp()</a></code> because lines are fun and "lerp" is a fun word to say!</p>
      
      <h3>Did you face any challenges working on this project? If so, how did you overcome them?</h3>
      <p>It was my first time using p5.js, Inkscape, and a plotter! I really benefited from the people around me who had used p5 before, as well as online guides and forums.</p>
      
      <h3>What's a cool thing we should check out?</h3>
      <p><a href="https://www.instagram.com/gandyworks/" target="_blank">@gandyworks</a> on Instagram—super cool analog plotter stuff.</p>
      
      <h3>Where can people learn more about you?</h3>
      <p><a href="https://ronicantor.com/" target="_blank">ronicantor.com</a>
      <br/><a href="https://www.instagram.com/roni.cantor/" target="_blank">@roni.cantor</a> (Instagram)</p>
    </article>

    {{> footer}}

  </section>

  {{> asterisk}}

</div>