---
title: showcase
slug: showcase/featuring/
---

<div id="showcase-page">

  {{> sidebar}}

  <main id="content" class="column-span project-page">
    <h1>{{connie.description}}</h1>

    <section class="project-info">
    {{connie.name}} {{connie.location}}
 <h2>Project Info</h2>
    </section>
    <div style='clear:both'></div>

    {{> footer}}

  </main>

  {{> asterisk}}

</div>