---
title: examples
slug: examples/
---

<div id="examples-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >

      <p id="backlink"><a href="./">&lt; {{#i18n "back-examples"}}{{/i18n}}</a></p>
      <h1 id='example-name'>example name placeholder</h1>
      <p id='example-desc'>example description placeholder</p>

      <% if (mobileEx) { %>
        <button id="isMobile-displayButton" class="display_button">display sketch</button>
      <%}%>

      <div id="exampleDisplay">

        <% if (mobileEx) { %>
          <p id="notMobile-message">Open this page on a mobile device to display the sketch.</p>
        <%}%>

        <div class="edit_space">
          <button id="toggleTextOutput" class="sr-only">toggle text output</button>
          <button id="runButton" class="edit_button">run</button>
          <button id="resetButton" class="reset_button">reset</button>
          <button id="copyButton" class="copy_button">copy</button>
        </div>
        <div id="exampleEditor"></div>


        <iframe id="exampleFrame" src="{{assets}}/examples/example.html" ></iframe>
      </div>

      <p><a style="border-bottom:none !important;" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target=_blank><img src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png" alt="creative commons license" style="width:88px"/></a></p>

    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

  <!-- <script src="{{assets}}/js/vendor/ace-nc/ace.js"></script>
  <script src="{{assets}}/js/examples.js"></script> -->
  <script>
    window._p5jsExample = '{{assets}}/examples/{{language}}/<%=file%>';
    window.addEventListener('load', function() {
      // examples.init('{{assets}}/examples/{{language}}/<%=file%>');
      if (<%=mobileEx%>) {
        var isMobile = window.matchMedia("only screen and (max-width: 767px)");
        // isMobile is true if viewport is less than 768 pixels wide
        document.getElementById('exampleFrame').style.display = 'none';
        if (isMobile.matches) {
          document.getElementById('notMobile-message').style.display = 'none';
          document.getElementById('isMobile-displayButton').style.display = 'block';
        } else {
          document.getElementById('notMobile-message').style.display = 'block';
          document.getElementById('isMobile-displayButton').style.display = 'none';
          document.getElementById('runButton').style.display = 'none';
          document.getElementById('resetButton').style.display = 'none';
          document.getElementById('copyButton').style.display = 'none';
        }
      }
    }, true);
  </script>

</div><!-- end id="get-started-page"  -->

<script src="/{{assets}}/js/examples.js"></script>
