---
title: examples
slug: examples/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section>

      <p id="backlink"><a href="./">< {{#i18n "back-examples"}}{{/i18n}}</a></p>
      <h2 id='example-name'></h2>
      <p id='example-desc'></p>

      <% if (mobileEx) { %>
        <button id="isMobile-displayButton" class="display_button">display sketch</button>
      <%}%>

      <div id="exampleDisplay">
        <iframe id="exampleFrame" src="{{assets}}/examples/example.html" ></iframe>

        <% if (mobileEx) { %>
          <p id="notMobile-message">Open this page on a mobile device to display the sketch.</p>
        <%}%>

        <div class="edit_space">
          <button id="runButton" class="edit_button">run</button>
          <button id="resetButton" class="reset_button">reset</button>
        </div>
        <div id="exampleEditor"></div>
      </div>

      <p><a style="border-bottom:none !important;" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target=_blank><img src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" style="width:88px"/></a></p>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

  <!-- <script src="{{assets}}/js/vendor/ace-nc/ace.js"></script>
  <script src="{{assets}}/js/examples.js"></script> -->
  <script>
    window._p5jsExample = '{{assets}}/examples/{{language}}/<%=file%>';
    window._p5jsLanguage = '{{language}}';
    window.addEventListener('load', function() {
      // examples.init('{{assets}}/examples/{{language}}/<%=file%>');
      if (<%=mobileEx%>) {
        var isMobile = window.matchMedia("only screen and (max-width: 480px)");
        document.getElementById('exampleFrame').style.display = 'none';
        if (isMobile.matches) {
          document.getElementById('notMobile-message').style.display = 'none';
          document.getElementById('isMobile-displayButton').style.display = 'block';
        } else {
          document.getElementById('notMobile-message').style.display = 'block';
          document.getElementById('isMobile-displayButton').style.display = 'none';
          document.getElementById('runButton').style.display = 'none';
          document.getElementById('resetButton').style.display = 'none';
        }
      }
    }, true);
  </script>

</div><!-- end id="get-started-page"  -->
