---
title: examples
slug: examples/
---

<div id="learn-page">

  {{> sidebar}}

  <div class="column-span">

    <section>

      <p id="backlink"><a href="./">< {{#i18n "back-examples"}}{{/i18n}}</a></p>
      <h2 id='example-name'></h2>
      <p id='example-desc'></p>

      <% if (mobileEx) { %>
        <button id="isMobile-displayButton" class="display_button">display sketch</button>
      <%}%>

      <div id="exampleDisplay">
        <iframe id="exampleFrame" src="{{assets}}/examples/example.html" ></iframe>

        <% if (mobileEx) { %>
          <p id="notMobile-message">Open this page on a mobile device to display the sketch.</p>
        <%}%>

        <div class="edit_space">
          <button id="runButton" class="edit_button">run</button>
          <button id="resetButton" class="reset_button">reset</button>
        </div>
        <div id="exampleEditor"></div>
      </div>

      <p><a style="border-bottom:none !important;" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target=_blank><img src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" style="width:88px"/></a></p>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

  <script src="{{assets}}/js/vendor/ace-nc/ace.js"></script>
  <script src="{{assets}}/js/examples.js"></script>
  <script>
    // $(document).ready( function () {
    window.addEventListener('load', function() {
      if (<%=mobileEx%>) {
        var isMobile = window.matchMedia("only screen and (max-width: 480px)");
        $('#exampleFrame').hide();
        if (isMobile.matches) {
          $('#notMobile-message').hide();
          $('#isMobile-displayButton').show();
        } else {
          $('#notMobile-message').show();
          $('#isMobile-displayButton').hide();
          $('#runButton').hide();
          $('#resetButton').hide();
        }
      }
      examples.init('{{assets}}/examples/{{language}}/<%=file%>');
    }, true);
    // });
  </script>

</div><!-- end id="get-started-page"  -->
