---
title: get started
slug: get-started/
---

<div id="get-started-page">

  {{> sidebar}}

  <div class="column-span">

    <main id="content" >

      <h1>{{#i18n "get-started-title"}}{{/i18n}}</h1>

      <p>{{#i18n "get-started1"}}{{/i18n}} {{#i18n "get-started2"}}{{/i18n}} <a href="https://editor.p5js.org" target="_blank">{{#i18n "get-started3"}}{{/i18n}}</a>{{#i18n "get-started4"}}{{/i18n}} <a href="#sketch">{{#i18n "get-started5"}}{{/i18n}}</a>{{#i18n "get-started6"}}{{/i18n}} <a href="#settingUp">{{#i18n "get-started7"}}{{/i18n}}</a>.
      </p>



      <h2 class="start-element" id="sketch">{{#i18n "your-first-sketch-title"}}{{/i18n}}</h2>

      <div class="info">
        <h3 class="sr-only">{{#i18n "first-sketch-heading1"}}{{/i18n}}</h3>
        <p>{{#i18n "your-first-sketch-intro1"}}{{/i18n}}<a href='{{#i18n "your-first-sketch-intro2"}}{{/i18n}}'>{{#i18n "your-first-sketch-intro3"}}{{/i18n}}</a>{{#i18n "your-first-sketch-intro4"}}{{/i18n}}</p>

<pre id="first-sketch1"><code class="language-javascript">
function setup() {
  createCanvas(400, 400);
}

function draw() {
  background(220);
}

</code></pre>
        <div class="edit_space">
          <button id="copy_sketch1" class="copy_button">{{#i18n "get-started-button"}}{{/i18n}}</button>
        </div>
        <p>{{#i18n "your-first-sketch1"}}{{/i18n}}<code class="language-javascript">background(220);</code>{{#i18n "your-first-sketch2"}}{{/i18n}}<code class="language-javascript">ellipse(50,50,80,80);</code>.</p>

        <p>{{#i18n "your-first-sketch3"}}{{/i18n}}</p>
        <h3 class="sr-only">{{#i18n "first-sketch-heading1"}}{{/i18n}}</h3>

<pre id="first-sketch2"><code class="language-javascript">
function setup() {
  createCanvas(400, 400);
}

function draw() {
  background(220);
  ellipse(50,50,80,80);
}

</code></pre>
        <div class="edit_space">
          <button id="copy_sketch2" class="copy_button">{{#i18n "get-started-button"}}{{/i18n}}</button>
        </div>
        <p style="margin-top: 1.5em;">{{#i18n "your-first-sketch4"}}{{/i18n}}</p>
        <p>{{#i18n "your-first-sketch5"}}{{/i18n}}</p>
        <h3 class="sr-only">{{#i18n "first-sketch-heading2"}}{{/i18n}}</h3>
        <p>{{#i18n "your-first-sketch6"}}{{/i18n}}<a href="../learn/p5-screen-reader.html" target="_blank">{{#i18n "your-first-sketch7"}}{{/i18n}}.</a>
        </p>
        <p>{{#i18n "your-first-sketch8"}}{{/i18n}}</p>

        <img src="{{assets}}/img/get-started/first-sketch.png" alt='{{#i18n "your-first-sketch9"}}{{/i18n}}'/>

        <p>{{#i18n "your-first-sketch10"}}{{/i18n}}</p>

        <p>{{#i18n "your-first-sketch11"}}{{/i18n}}</p>

        <h3 class="sr-only">{{#i18n "first-sketch-heading3"}}{{/i18n}}</h3>
        <p>{{#i18n "your-first-sketch12"}}{{/i18n}}</p>

<pre id="first-sketch3"><code class="language-javascript">
function setup() {
  createCanvas(400, 400);
}

function draw() {
  if (mouseIsPressed) {
    fill(0);
  } else {
    fill(255);
  }
  ellipse(mouseX, mouseY, 80, 80);
}
</code></pre>
        <div class="edit_space">
          <button id="copy_sketch3" class="copy_button">{{#i18n "get-started-button"}}{{/i18n}}</button>
        </div>
        <p style="margin-top: 1.5em;">{{#i18n "your-first-sketch13"}}{{/i18n}}
        </p>

        <img src="{{assets}}/img/get-started/first-sketch2.png" alt='{{#i18n "your-first-sketch14"}}{{/i18n}}'/>
      </div>

      <h2 class="start-element tutorial-btn" id="next">{{#i18n "what-next-title"}}{{/i18n}}</h2>

      <div class='info'>
        <ul class="list_view">
          <li>{{#i18n "learn1"}}{{/i18n}}<a href="../learn/">{{#i18n "learn2"}}{{/i18n}}</a>{{#i18n "learn3"}}{{/i18n}}<a href="../examples">{{#i18n "learn4"}}{{/i18n}}</a>{{#i18n "learn5"}}{{/i18n}}</li>

          <li>{{#i18n "learn6"}}{{/i18n}}<a href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6Zy51Q-x9tMWIv9cueOFTFA">{{#i18n "learn7"}}{{/i18n}}</a>{{#i18n "learn8"}}{{/i18n}}<a href="https://www.kadenze.com/courses/introduction-to-programming-for-the-visual-arts-with-p5-js/info">{{#i18n "learn9"}}{{/i18n}}</a>{{#i18n "learn10"}}{{/i18n}}</li>

          <li>{{#i18n "reference1"}}{{/i18n}}<a href="../reference/">{{#i18n "reference2"}}{{/i18n}}</a>{{#i18n "reference3"}}{{/i18n}} </li>
          <li>{{#i18n "learn11"}}{{/i18n}}<a href="../learn/p5-screen-reader.html">{{#i18n "learn12"}}{{/i18n}}</a>.</li>
          <li>{{#i18n "processing-transition1"}}{{/i18n}}<a href='{{#i18n "processing-transition2"}}{{/i18n}}'>{{#i18n "processing-transition3"}}{{/i18n}}</a>{{#i18n "processing-transition4"}}{{/i18n}}</li>

        </ul>
      </div>

      <h2 class="start-element tutorial-btn" id="settingUp">{{#i18n "settingUp-title"}}{{/i18n}}</h2>

      <div class="info">
        <p>{{#i18n "environment1"}}{{/i18n}}
          <a href='{{#i18n "environmentlink"}}{{/i18n}}' target="_blank">
            {{#i18n "environment2"}}{{/i18n}}</a>
            {{#i18n "environment3"}}{{/i18n}}
            <a href="http://www.sublimetext.com/2" target="_blank"> Sublime Text 2</a>
            {{#i18n "environment4"}}{{/i18n}}<a href='http://brackets.io/' target=_blank>Brackets</a> {{#i18n "environment5"}}{{/i18n}}<a href='https://atom.io/' target=_blank>Atom</a>. {{#i18n "environment6"}}{{/i18n}} <a href="https://notepad-plus-plus.org/">Notepad++</a> {{#i18n "environment7"}}{{/i18n}}
            <a href="https://www.eclipse.org/ide/" target="_blank">Eclipse</a>.
        </p>
      </div>

      <h3 class="start-element tutorial-btn" id="download">{{#i18n "download-title"}}{{/i18n}}</h3>

      <div class="info">
        <p>{{#i18n "download1"}}{{/i18n}}
          <a href="../download/">{{#i18n "download2"}}{{/i18n}}</a>
          {{#i18n "download3"}}{{/i18n}}
        </p>

        <p>
          {{#i18n "download8"}}{{/i18n}}
          <a href="https://github.com/processing/p5.js/wiki/Local-server" target="_blank">{{#i18n "download9"}}{{/i18n}}</a>
          {{#i18n "download10"}}{{/i18n}}
          <code>{{#i18n "download11"}}{{/i18n}}</code>
        </p>

        <p>{{#i18n "download4"}}{{/i18n}}</p>

        <pre id="markup1"><code class="language-markup">&lt;script src="../p5.min.js">&lt;/script></code></pre>
        <div class="edit_space">
          <button id="copy_p5_script" class="copy_button">{{#i18n "get-started-button"}}{{/i18n}}</button>
        </div>
      </div>

      <h3 class="start-element tutorial-btn" id="hosted">{{#i18n "hosted-title"}}{{/i18n}}</h3>
      <div class="info">
        <p>{{#i18n "download5"}}{{/i18n}}
          <a target="_blank" href="https://cdn.jsdelivr.net/npm/p5/lib/">
            p5.js CDN</a>{{#i18n "download6"}}{{/i18n}}
        </p>

        <pre id="cdn-link" class='p5-replace'><code class="language-markup">&lt;script src="https://cdn.jsdelivr.net/npm/p5@[p5_version]/lib/p5.js">&lt;/script></code></pre>
        <div class="edit_space">
          <button id="copy_p5_link" class="copy_button">{{#i18n "get-started-button"}}{{/i18n}}</button>
        </div>
        <p>{{#i18n "download7"}}{{/i18n}}</p>

        <pre id="sample-html" class='p5-replace'><code class="language-markup">
&lt;html&gt;
  &lt;head&gt;
    &lt;script src="https://cdn.jsdelivr.net/npm/p5@[p5_version]/lib/p5.js">&lt;/script&gt;
    &lt;script src="sketch.js">&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;main&gt;
    &lt;/main&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code></pre>
      <div class="edit_space">
          <button id="copy_p5_html" class="copy_button">{{#i18n "get-started-button"}}{{/i18n}}</button>
      </div>
      </div>
      <h3 class="start-element tutorial-btn" id="environment">{{#i18n "environment-title"}}{{/i18n}}</h3>
      <div class="info">
        <p>
          {{#i18n "environment8"}}{{/i18n}}
        </p>

        <p>
          {{#i18n "environment9"}}{{/i18n}}
          <img src="{{assets}}/img/get-started/sublime2.png" alt='{{#i18n "environment10"}}{{/i18n}}"'/>
        </p>

        <p>
          {{#i18n "environment11"}}{{/i18n}} <code>{{#i18n "environment12"}}{{/i18n}}</code>
          {{#i18n "environment14"}}{{/i18n}} <code>{{#i18n "environment15"}}{{/i18n}}</code>
          {{#i18n "environment16"}}{{/i18n}}
          {{#i18n "environment13"}}{{/i18n}}
        </p>
      </div>

      <div>{{#i18n "book1"}}{{/i18n}}</div>

      <script>
        $.getJSON('../download/version.json', function(data) {
          $('.p5-replace').each(function() {
            var html = $(this).html().replace('[p5_version]', data.version);
            $(this).html(html);
          });
        });
      </script>
    </main>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}
</div><!-- end id="get-started-page"  -->
<script src="/{{assets}}/js/get-started.js"></script>
