---
title: start
heading: 'p5.js'
language: en
---
<!-- content sections -->

<div>
  <div id = "container">
  {{>i18n-en}}
<div class="column-span">
  {{>sidebar}}
  <section>
    <h2>{{#i18n "title"}}{{/i18n}}</h2>
  <p>{{#i18n "subx1"}}{{/i18n}}<a href="#your-first-sketch">{{#i18n "firstSketch"}}{{/i18n}}</a> {{#i18n "subx2"}}{{/i18n}}<a href="https://github.com/processing/p5.js/wiki/Processing-transition">{{#i18n "processingTutorial"}}{{/i18n}}</a>.
      </p>
      <a class="anchor" href="#file-setup"><h3 class = "start-element" id = "download">{{#i18n "head1"}}{{/i18n}}</h3></a>
    <div class="info" id="download">
      <p>{{#i18n "p1x1"}}{{/i18n}}
        <a href="../download/">{{#i18n "p5complete"}}{{/i18n}}</a> {{#i18n "p1x2"}}{{/i18n}} 
      </p>
      
      <p>{{#i18n "p1x3"}}{{/i18n}}</p>

      <pre><code class="language-markup">&lt;script src="../p5.min.js">&lt;/script></code></pre>   
      
      <p> 
        {{#i18n "p1x4"}}{{/i18n}}
        <a target="_blank" href="http://cdnjs.com/libraries/p5.js">{{#i18n "p5CDN"}}{{/i18n}}</a>
        {{#i18n "p1x5"}}{{/i18n}}
      </p>

      <pre><code class="language-markup">&lt;script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.0.0/p5.js">&lt;/script></code></pre>   
    </div>

      <a name="environment" class="anchor"><h3 class = "start-element" id = "environment">{{#i18n "head2"}}{{/i18n}}</h3></a>
      <div class="info" id = "environment">
      <p>
        {{#i18n "p2x1"}}{{/i18n}}<a href="http://en.wikipedia.org/wiki/Source_code_editor" 
        target="_blank">{{#i18n "editor"}}{{/i18n}}</a>{{#i18n "p2x2"}}{{/i18n}}<a href="http://www.sublimetext.com/2" target="_blank">{{#i18n "sublime"}}{{/i18n}}</a> {{#i18n "p2x3"}}{{/i18n}}<a href="../download/#editor">{{#i18n "here"}}{{/i18n}}</a>.)
      </p>

      <p>{{#i18n "p2x4"}}{{/i18n}}</p>
      
      <p>{{#i18n "p2x5"}}{{/i18n}}</p>
      <img src="{{assets}}/img/sublime2.png">
      
      <p>{{#i18n "p2x6"}}{{/i18n}}<br> <code>localhost/path/to/your/index.html</code> 
          <br>
          {{#i18n "p2x7"}}{{/i18n}}
      </p>
      </div>

      <a name="your-first-sketch" class="anchor"><h3 class = "start-element" id = "sketch">{{#i18n "head3"}}{{/i18n}}</h3></a>
      <div class = "info" id = "sketch">
      <p>
        {{#i18n "p3x1"}}{{/i18n}}
      </p>

      <pre><code class="language-javascript">function setup() {

}

function draw() {
  ellipse(50, 50, 80, 80);
}</code></pre>  

      <p>
        {{#i18n "p3x2"}}{{/i18n}}
      </p>
      <p>
        {{#i18n "p3x3"}}{{/i18n}}
      </p>
      <img src="{{assets}}/img/first-sketch.png">

      <p>
        {{#i18n "p3x4"}}{{/i18n}}
      </p>

      <p>
        {{#i18n "p3x5"}}{{/i18n}}
      </p>

      <p>
        {{#i18n "p3x6"}}{{/i18n}}
      </p>

      <pre><code class="language-javascript">function setup() {
  createCanvas(640, 480);
}

function draw() {
  if (mouseIsPressed) {
    fill(0);
  } else {
    fill(255);
  }
  ellipse(mouseX, mouseY, 80, 80);
}</code></pre>  

      <p>
        {{#i18n "p3x7"}}{{/i18n}}
      </p>

      <img src="{{assets}}/img/first-sketch2.png">
    </div>
      <h3 class = "start-element" id = "next">{{#i18n "head4"}}{{/i18n}}</h3>
      <div class = 'info' id = 'next'>
        <ul>
          <li>{{#i18n "p4x1"}}{{/i18n}}
          <a href="https://github.com/processing/p5.js/wiki/Processing-transition"> {{#i18n "processingTutorial"}}{{/i18n}} </a>{{#i18n "p4x1"}}{{/i18n}}</li>

        <li>{{#i18n "p4x3"}}{{/i18n}}<a href="../reference/">{{#i18n "reference"}}{{/i18n}}</a>{{#i18n "p4x4"}}{{/i18n}}</li>

        <li>{{#i18n "p4x5"}}{{/i18n}}<a href="../learn/">{{#i18n "learn"}}{{/i18n}}</a>{{#i18n "p4x6"}}{{/i18n}}</li>  
        </ul>
      </div>


      <p style="font-size: 1em; color:#AFAFAF">{{#i18n "footer"}}{{/i18n}}</p>
  {{> footer}}
  </section>
  </div>
</div>
</div>
