---
title: get-started
slug: get-started/
---

<div id="get-started-page">

  {{> sidebar}}

  <div class="column-span">

    <section>

      <h2>{{#i18n "get-started-title"}}{{/i18n}}</h2>

      <p>{{#i18n "get-started1"}}{{/i18n}}
        <a>{{#i18n "get-started2"}}{{/i18n}}</a>
        {{#i18n "get-started3"}}{{/i18n}}
        <a href="https://github.com/processing/p5.js/wiki/Processing-transition">
          {{#i18n "get-started4"}}{{/i18n}}</a>.
      </p>

      <a class="anchor" href="#file-setup">
        <h3 class = "start-element tutorial-btn" id = "download">
            {{#i18n "download-title"}}{{/i18n}}</h3></a>

      <div class="info" id="download">
        <p>{{#i18n "download1"}}{{/i18n}}
          <a href="../download/">{{#i18n "download2"}}{{/i18n}}</a>
          {{#i18n "download3"}}{{/i18n}}
        </p>

        <p>{{#i18n "download4"}}{{/i18n}}</p>

        <pre><code class="language-markup">&lt;script src="../p5.min.js">&lt;/script></code></pre>

        <p>{{#i18n "download5"}}{{/i18n}}
          <a target="_blank" href="http://cdnjs.com/libraries/p5.js">
            p5.js CDN</a>{{#i18n "download6"}}{{/i18n}}
        </p>

        <pre><code class="language-markup">&lt;script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.0.0/p5.js">&lt;/script></code></pre>
      </div>

      <a name="environment" class="anchor">
        <h3 class = "start-element tutorial-btn" id = "environment">
          {{#i18n "environment-title"}}{{/i18n}}
        </h3></a>

      <div class="info" id = "environment">

        <p>{{#i18n "environment1"}}{{/i18n}}
          <a href="http://en.wikipedia.org/wiki/Source_code_editor" target="_blank">
            {{#i18n "environment2"}}{{/i18n}}</a>
            {{#i18n "environment3"}}{{/i18n}}
             <a href="http://www.sublimetext.com/2" target="_blank"> Sublime Text 2</a>
             {{#i18n "environment4"}}{{/i18n}}<a href='http://brackets.io/' target=_blank>Brackets</a>, <a href='https://atom.io/' target=_blank>Atom</a>
             {{#i18n "environment5"}}{{/i18n}}
             <a href='http://limetext.org/' target=_blank>Lime Text</a>
             {{#i18n "environment6"}}{{/i18n}}<a href="../download/#editor">{{#i18n "environment7"}}{{/i18n}}</a>.)
        </p>

        <p>
          {{#i18n "environment8"}}{{/i18n}}
        </p>

        <p>
          {{#i18n "environment9"}}{{/i18n}}
          <img src="{{assets}}/img/get-started/sublime2.png" />
        </p>

        <p>
          {{#i18n "environment10"}}{{/i18n}} <code>file:///the/file/path/to/your/html</code>
          {{#i18n "environment11"}}{{/i18n}}
        </p>
      </div>

      <a name="your-first-sketch" class="anchor"><h3 class = "start-element tutorial-btn" id = "sketch">Your First Sketch</h3></a>

      <div class = "info" id = "sketch">

        <p>In your editor, type the following:</p>

        <pre><code class="language-javascript">function setup() {

  }

  function draw() {
  ellipse(50, 50, 80, 80);
  }</code></pre>

        <p>This line of code means &#8220;draw an ellipse, with the center 50 pixels over from the left and 50 pixels down from the top, with a width and height of 80 pixels.&#8221;
        </p>

        <p>Save your sketch and refresh your page view in your browser. If you&#8217;ve typed  everything correctly, you&#8217;ll see this appear in the display window:
        </p>

        <img src="{{assets}}/img/get-started/first-sketch.png" />

        <p>If you didn&#8217;t type it correctly, you might not see anything. If this happens,  make sure that you&#8217;ve copied the example code exactly: the numbers should be contained within parentheses and have commas between each of them, and the line should end with a semicolon.
        </p>

        <p>One of the most difficult things about getting started with programming is that you have to be very specific about the syntax. The browser isn&#8217;t always smart enough to know what you mean, and can be quite fussy about the placement of punctuation. You&#8217;ll get used to it with a little practice. Depending on the browser you are using, you can also see errors by looking at the JavaScript &#8220;console&#8221;. In chrome, for example, this is under View > Developer > JavaScript Console.
        </p>

        <p>Next, we&#8217;ll skip ahead to a sketch that&#8217;s a little more exciting. Delete the text from the last example, and try this:
        </p>

        <pre><code class="language-javascript">function setup() {
  createCanvas(640, 480);
  }

  function draw() {
  if (mouseIsPressed) {
  fill(0);
  } else {
  fill(255);
  }
  ellipse(mouseX, mouseY, 80, 80);
  }</code></pre>

        <p>This program creates a window that is 640 pixels wide and 480 pixels high, and then starts drawing white circles at the position of the mouse. When a mouse button is pressed, the circle color changes to black. We&#8217;ll explain more about the elements of this program in detail later. For now, run the code, move the mouse, and click to experience it.
        </p>

        <img src="{{assets}}/img/get-started/first-sketch2.png" />
      </div>

      <h3 class = "start-element tutorial-btn" id = "next">What Next?</h3>

      <div class = 'info' id = 'next'>
        <ul>
          <li>Read the a href="https://github.com/processing/p5.js/wiki/Processing-transition">Processing transition tutorial</a> to learn how to convert from Processing to p5.js, and the main differences between them.</li>

          <li>View the <a href="../reference/">reference</a> for full documentation.</li>

          <li>Check out the <a href="../tutorials/">tutorials</a> page and <a href="../examples">examples</a> page for more.</li>
        </ul>
      </div>

      <p style="font-size: 1em; color:#AFAFAF">Parts of this tutorial were adapted from the book, Getting Started with p5.js, by Lauren McCarthy, Casey Reas, and Ben Fry, O&#8217;Reilly / Make 2015. Copyright &copy; 2015 Lauren McCarthy, Casey Reas, and Ben Fry. All rights reserved.</p>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="get-started-page"  -->
