---
title: books
slug: books/
---

<div id="books-page">

  {{> sidebar}}

  <div class="column-span">

    <section id="content" role="region" label="main content">
      <h1>{{#i18n "books-title"}}{{/i18n}}</h1>
      <br>


      <div>
        <div class="narrow-left-column">
          <img src="{{assets}}/img/books/gettingstarted.jpg"></a>
        </div>

        <div class="wide-right-column book">
          <p><b>Getting Started with p5.js</b><br>
          Lauren McCarthy, Casey Reas, and Ben Fry<br>
          Published October 2015, Maker Media. 246 pages. Paperback.
          </p>

          <p>Written by the lead p5.js developer and the founders of Processing, this book provides an introduction to the creative possibilities of today's Web, using JavaScript and HTML.</p>

          <p>
            <a href="http://shop.oreilly.com/product/0636920032076.do" target="_blank">Order Print/Ebook from O'Reilly</a><br>
            <a href="http://www.amazon.com/Make-Interactive-Graphics-JavaScript-Processing/dp/1457186772" target="_blank">Order from Amazon</a>
          </p>

        </div>
      </div>

      <div style='clear:both; height: 2em'></div>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="books-page"  -->
