---
title: books
slug: books/
---

<div id="books-page">

  {{> sidebar}}

  <div class="column-span">

    <section id="content">
      <h2>{{#i18n "books-title"}}{{/i18n}}</h2>
      <br>
      <div class="narrow-left-column">
        <img src="{{assets}}/img/books/gettingstarted.png"></a>
      </div>

      <div class="wide-right-column book">
        <p><b>{{#i18n "getting-started-title"}}{{/i18n}} </b><br>{{#i18n "getting-started-authors"}}{{/i18n}}
        <br>{{#i18n "getting-started-data"}}{{/i18n}}
        <br>
        <a href="http://shop.oreilly.com/product/0636920032076.do" target="_blank">{{#i18n "order-oreilly"}}{{/i18n}}</a><br>
        <a href="http://www.amazon.com/Make-Interactive-Graphics-JavaScript-Processing/dp/1457186772" target="_blank">{{#i18n "order-amazon"}}{{/i18n}}</a>
        </p>
        <p>{{#i18n "getting-started1"}}{{/i18n}}
        <br><br>
        {{#i18n "getting-started2"}}{{/i18n}}<br>
        {{#i18n "getting-started3"}}{{/i18n}}<br>
        {{#i18n "getting-started4"}}{{/i18n}}<br>
        {{#i18n "getting-started5"}}{{/i18n}}<br>
        {{#i18n "getting-started6"}}{{/i18n}}</p>

      </div>
      <br>
      <p>

      </p>

    </section>

    {{> footer}}

  </div> <!-- end column-span -->

  {{> asterisk}}

</div><!-- end id="books-page"  -->
